<div class="sticky bottom-6 justify-center rounded text-center bg-primary end-4 start-4">
  <%= link_to new_team_path(parent_team_id: @team.id), data: { turbo_frame: "add-new-team-modal" }, class: "flex w-full justify-center gap-2 px-4 py-5" do %>
    <span class="items-center icon icon-plus-white icon-small"></span>
    <span class="text-sm text-white">Add Team</span>
  <% end %>
</div>