<table id="teams-list" class="mt-5 min-w-full rounded px-6 py-4 box-shadow-medium teams-list">
  <thead class="sticky top-0 z-10 border-b border-line-colour-light">
  <tr class="text-left text-sm font-medium">
    <th class="px-6 py-4">Name</th>
    <th class="px-6 py-4">Email</th>
    <th class="px-6 py-4">Phone</th>
    <th class="px-6 py-4">Role</th>
    <th class="px-6 py-4">Course</th>
  </tr>
  </thead>
  <tbody id="team-member-list-desktop" class="bg-white divide-y divide-slate-grey-light">
  <% @team.members.each do |member| %>
    <%= render "teams/member_desktop", team: @team, member: member %>
  <% end %>
  </tbody>
</table>