<div id="team-member-list" class="h-full flex flex-col">
  <div id="teams-list" class="flex-shrink-0 md:py-4 md:px-6 md:border-b border-line-colour-light">
    <div class="hidden md:grid grid-cols-12 gap-6 text-left text-sm font-medium  w-full">
      <div class="col-span-4 flex justify-start">Name</div>
      <div class="col-span-3 flex justify-start">Phone</div>
      <div class="col-span-2 flex justify-start">Role</div>
      <div class="col-span-3 flex justify-center">Actions</div>
    </div>
  </div>

  <% if members.empty? %>
    <div class="text-center text-sm mt-6">
      No users available.
    </div>
  <% end %>

  <div class="flex-1 overflow-y-auto p-2 md:divide-y md:divide-slate-grey-light">
    <% members.each do |member| %>
      <%= render "teams/member_list_items", team: team, member: member %>
    <% end %>
    <div class="mt-4">
      <%= paginator(members, path: member_list_path(team)) %>
    </div>
  </div>
</div>
