<ul id="team-list-mobile" class="flex flex-col gap-4 mt-6 overflow-y-auto max-h-[240px]">
  <% sub_teams.each do |sub_team| %>
    <%= render 'teams/team_mobile', team: sub_team %>
  <% end %>
</ul>

<div class="sticky bottom-6 justify-center rounded text-center bg-primary end-4 start-4">
  <% if policy(team).new?  %>
    <%= link_to new_team_path(parent_team_id: team.id), data: { turbo_frame: "add-new-team-modal" }, class: "flex w-full justify-center gap-2 px-4 py-5" do %>
      <span class="items-center icon icon-plus bg-white icon-small"></span>
      <span class="text-sm text-white">Add sub team</span>
    <% end %>
  <% end %>
</div>
