<li class="border border-line-colour-light rounded box-shadow-small h-[168px]">
  <%= link_to team_path(team) do %>
    <div class="flex flex-col">
      <%= image_tag team_banner(team, 'desktop'), class: 'w-full h-[87px] object-fill rounded-t' %>

      <div class="flex flex-col items-start py-4 px-4">
        <h3 class="heading heading-medium text-primary"><%= team.name %></h3>
        <div class="flex flex-row items-center justify-between w-full">
          <div class="flex text-sm text-gray-500">
            <span class="icon-small icon icon-team bg-primary"></span>
            <span class="ml-2 text-xs font-medium"><%= pluralize(team.members.count, "Member") %></span>
          </div>
<!--          <div class="flex items-center bg-primary-light-50 gap-1 p-2 rounded-sm">-->
<!--            <span class="text-primary-light text-xs">Department name will be shown here after fixing the UX flow.</span> -->
<!--          </div>-->
        </div>
      </div>
    </div>
  <% end %>
</li>
