<li class="flex justify-between items-center  border border-line-colour-light rounded-lg box-shadow-small">
  <div class="flex items-center space-x-6 py-2 px-4 h-16">
    <div class="flex items-center w-28">
      <% if team.banner.present? %>
        <%= image_tag team.banner, alt: 'Image', class: 'max-h-full max-w-full object-contain bg-cover bg-center' %>
      <% end %>
    </div>
    <span class="text-sm font-medium"><%= team.name %></span>
  </div>
  <div>
    <%= link_to team_path(team) do %>
      <span class="icon icon-simple-arrow-right bg-letter-color icon-small"></span>
    <% end %>
  </div>
</li>
