<%= turbo_frame_tag 'add-user-modal' do %>
  <div class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center md:items-center md:justify-center z-[9999]" data-teams-target="inviteUserPopup">
    <div class="bg-white rounded-lg w-[326px] md:w-[462px] md:rounded-lg md:relative absolute bottom-4 md:bottom-auto md:inset-auto">
      <div class="flex items-center justify-between border-b border-line-colour-light p-6">
        <span class="text-base font-semibold">Invite User</span>
        <button id="cancel-btn-user" type="button" data-actionType="addUserNo" data-action="click->teams#closePopup">
          <span class="icon icon-close h-4 w-4"></span>
        </button>
      </div>
      <form class="flex flex-col gap-6 p-6">
        <div class="flex flex-col gap-4">
          <label class="block text-sm" for="email">Email</label>
          <input type="email" class="w-full px-3 py-2 border rounded" placeholder="Enter email">
        </div>
        <div class="flex flex-col gap-4">
          <label class="block text-sm" for="role">Select Role</label>
          <select id="role" class="w-full px-3 py-2 border rounded">
            <option class="flex gap-2">
              <span class="icon icon-user-gray h-4 w-4"></span>
              <span class="text-primary text-xs font-medium">Manager</span>
            </option>
            <option>Learner</option>
          </select>
        </div>
        <div class="flex items-center my-4">
          <div class="flex-grow border-t border-line-colour"></div>
          <span class="px-2 text-sm ">Or</span>
          <div class="flex-grow border-t border-line-colour"></div>
        </div>
        <div class="flex flex-col gap-4 items-start justify-center w-full">
          <div class="flex flex-row gap-2 justify-between w-full">
            <label class="text-sm">Upload CSV</label>
            <label class="text-sm text-[#E0E0E0]" data-teams-target="csvFileLabel">No file chosen</label>
          </div>
          <div class="flex gap-4 justify-center p-4 w-full border border-dashed border-primary rounded cursor-pointer" data-action="click->teams#chooseFile" data-upload-id="upload-csv">
            <span class="icon icon-upload h-4 w-4"></span>
            <p class="text-sm text-primary">Choose File</p>
          </div>
          <input type="file" id="csv-file-input" class="hidden" data-content="csvFileInput"  data-teams-target="csvFileInput" data-action="change->teams#handleFileChange" />
        </div>
        <div class="flex flex-col justify-between">
          <button type="button" class="bg-primary text-white px-4 py-2 rounded">Invite User</button>
          <button id="user-cancel-btn" type="button" class="px-4 py-2" data-actionType="addUserNo" data-action="click->teams#closePopup">Cancel</button>
        </div>
      </form>
    </div>
  </div>
<% end %>