<div class="w-full" data-controller="course-carousal-component">
  <div class="my-4">
    <span class="heading heading-medium"><%= title %></span>&nbsp<span class="text-letter-color-light">(<%= pluralize(count, 'course') %>
    )</span>
    <%= link_to 'View more', courses_path, class: 'text-xs text-primary hover:cursor-pointer underline' if @type.nil? %>
  </div>

  <%= course_carousal_body_component(courses:) %>
</div>