<%= render "shared/components/desktop_layout" do %>
  <div class="box">
    <%= link_to "Back", course_module_quiz_path(@course, @course_module, @quiz), class: "nav-link" %>
  </div>
<%= render "form", course: @course, course_module: @course_module, quiz: @quiz %>
<% end %>

