<div class="w-full mx-auto text-left my-4">
  <%= render 'shared/components/back_button', back_link: course_module_path(@course, @course_module) %>
  <div class="heading page-heading my-4">Create quiz</div>
  <%= render "form", course: @course, course_module: @course_module, quiz: @quiz %>
</div>
