<%= render "shared/components/layout" do %>
  <div class="flex flex-row gap-6 mx-auto">
    <%= render "quizzes/quizz_box", course: @course, course_module: @course_module, quiz: @quiz %>
  </div>
<% end %>