<div class="flex flex-col gap-4 <%= width %>">
  <% if label.present? %>
    <label class="text-letter-color-light text-sm md:text-base h-9 leading-tight">
      <%= label %>
    </label>
  <% end %>

  <% merged_html_options = (html_options || {}).merge(
    class: "px-4 py-2 rounded border border-line-colour w-full text-letter-color-light text-sm h-9 focus:border-primary focus:ring-0 #{width}"
  ) %>

  <% if form.present? %>
    <%= form.select field_name,
        options_for_select(options, value),
        {},
        merged_html_options %>
  <% else %>
   <%= select_tag field_name,
        options_for_select([["Select an option", ""]]+options, value),
        merged_html_options %>
  <% end %>
</div>
