export BLACKBOARD_DATABASE="blackboard_development"
export BLACKBOARD_DATABASE_HOST=localhost
export BLACKBOARD_DATABASE_PORT=5432
export BLACKBOARD_DATABASE_USERNAME=postgres
export BLACKBOARD_DATABASE_PASSWORD=postgres