<tr id="<%= dom_id learning_partner %>">
  <td>
    <%= link_to learning_partner.name, learning_partner_path(learning_partner) %>
  </td>

  <td>
    <%= learning_partner.created_at %>
  </td>

</tr>
