<%= render "shared/components/desktop_layout" do %>

<div class="my-8 mx-4">
  <%= link_to learning_partners_path, class: "btn-primary btn-icon" do %>
    <%= render "shared/svg/back" %>
    <span>Back</span>
  <% end %>
</div>

<div class="box">
  <%= render "form", learning_partner: @learning_partner %>
</div>
<% end %>