<div class="my-4 mx-auto w-full text-left">
  <%= render "shared/components/back_button", back_link: learning_partner_path(@learning_partner) %>
  <%= render "form", learning_partner: @learning_partner %>
</div>
