<%= render "shared/components/desktop_layout" do %>

<div class="my-8 mx-4">
  <%= link_to "Back", learning_partners_path, class: "nav-link" %>
</div>

<div class="box">
  <%= render "form", learning_partner: @learning_partner %>
</div>
<% end %>