<%= render "shared/header", header_options(title: "Partner", header_extended: false) %>
<div class="box">
  <%= link_to learning_partners_path, class: "btn-primary btn-icon" do %>
    <%= render "shared/svg/back" %>
    <span>Back</span>
  <% end %>
</div>

<div class="box">
  <h1 class="page-subtitle">New learning partner</h1>
  <%= render "form", learning_partner: @learning_partner %>
</div>


