<%= render "shared/components/layout" do %>
  <div class="my-8 mx-auto w-full text-left md:max-w-3xl">
    <%= render "shared/components/back_button", back_link: learning_partners_path %>
    <%= render "form", learning_partner: @learning_partner %>
  </div> 
<% end %>
