<div class="box">
  <%= link_to learning_partners_path, class: "btn-primary btn-icon" do %>
    <%= render "shared/svg/back" %>
    <span>Back</span>
  <% end %>
</div>

<h1 class="box font-semibold text-lg text-gray-800">New learning partner</h1>
<%= render "form", learning_partner: @learning_partner %>


