<div class="my-8 mx-4">
  <%= link_to "Back", learning_partners_path, class: "underline pointer" %>
</div>

<div class="w-full">
  <div class="my-8 w-80 mx-auto text-left">
    <div class="my-8 font-bold"><%= @learning_partner.name %></div>
    <div class="my-8"><strong>About</strong> <%= @learning_partner.about %></div>
  </div>
</div>