<div id="<%= dom_id course_module %>">
  <p>
    <strong>Title:</strong>
    <%= course_module.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course_module.description %>
  </p>

</div>
