<div class="text-left">
  <% url = course_module.persisted? ? course_module_path(course, course_module) : course_modules_path(course, course_module) %>
  <%= form_with(model: [course, course_module],id:"module-form", url: url) do |form| %>
    <%= input_text_component(form:, name: :title, label: "Title", placeholder: "Enter the Title") %>    
  <% end %>
</div>