<h1>Editing course module</h1>

<%= render "form", course_module: @course_module %>

<br>

<div>
  <%= link_to "Show this course module", @course_module %> |
  <%= link_to "Back to course modules", course_modules_path %>
</div>
