<% if collection.next_page %>
  <div data-controller="pagination">
    <%= link_to "#{path}?page=#{collection.next_page}",
        data: {
          turbo_stream: true,
          pagination_target: "button",
          action: "pagination#setPageParam"
        } do %>
      <%= button(label: 'Next', type: "secondary", size: "md") %>
    <% end %>
  </div>
  <% else %>
    <%= button(label: 'Next', type: "secondary", size: "md", disabled: true) %>
<% end %>
