<% if collection.prev_page || collection.next_page %>
  <div class="flex justify-center mt-4 space-x-2">
    <%= render "ui/pagination/prev_page", collection: collection, path: path %>
    <%= render "ui/pagination/next_page", collection: collection, path: path %>
  </div>
<% end %>
