<div class="relative flex h-full items-center px-11 bg-primary-light-50">
  <div class="ml-10 flex flex-col gap-9">
    <p class="text-2xl font-semibold heading">Take Your Hospitality Management to the next level with Instruo</p>
    <%= image_tag 'login_page_banner.png', alt: 'Instruo', class: 'w-full' %>    
  </div>
  <div class="absolute bottom-10 left-16 flex gap-10">
    <a href="#" class="text-base font-normal">Home</a>
    <a href="#" class="text-base font-normal">Product</a>
    <a href="#" class="text-base font-normal">Company</a>
  </div>
</div>
