<div class="relative flex h-full items-center pr-12 left-side">
  <div class="ml-10">
    <%= image_tag 'instruo_logo_white.png', alt: 'Instruo', class: 'h-10' %>
    <p class="my-10 text-4xl font-bold text-white heading">Take Your Hospitality Management to the next level with Instruo</p>
    <a href="#" class="btn-watch-demo">
      <span class="bg-primary rounded-full p-[19px]">
        <span class="icon icon-play bg-white h-6 w-6"></span>
      </span>
      <span class="font-medium text-2xl text-white heading">Watch Demo</span>
    </a>
  </div>
  <div class="absolute bottom-10 left-16 flex gap-10">
    <a href="#" class="text-base font-normal text-white">Home</a>
    <a href="#" class="text-base font-normal text-white">Product</a>
    <a href="#" class="text-base font-normal text-white">Company</a>
  </div>
</div>
