<div class="h-[326px] bg-primary-light-50 flex items-center">
  <div class="flex flex-col items-center mx-4 w-full">    
    <%= image_tag 'instruo_logo_blue.png', alt: 'Instruo', class: 'w-[85px]' %>
    <p class="medium-heading text-sm my-4 heading">
      Take Your Hospitality Management 
      to the Next Level with Instruo
    </p>
    <%= image_tag 'login_page_banner.png', alt: 'Instruo', class: 'h-44' %>
  </div>
</div>
