<div class="h-[160px] mobi-home-banner flex items-center">
  <div class="mx-4 w-full">
    <div class="flex justify-between">
      <div>
        <%= image_tag "login_page_logo_white.png", class: "w-[140px]", alt:"" %>
      </div>
      <div>
        <a href="#" class="btn-watch-demo">
          <span class="icon icon-play h-[14px] w-[14px]"></span>
          <span class="font-medium text-xs md:text-2xl text-white">Watch Demo</span>
        </a>
      </div>
    </div>

    <p class="text-base font-medium leading-7 text-white my-4">
      Take Your Hospitality Management <br> to the Next Level with Superkill.app
    </p>
  </div>
</div>