<div class="h-[160px] mobi-home-banner flex items-center">
  <div class="mx-4 w-full">
    <div class="flex justify-between">
      <div>
        <%= image_tag 'instruo_logo_white.png', alt: 'Instruo', class: 'w-[140px]' %>
      </div>
      <div>
        <a href="#" class="btn-watch-demo">
          <span class="bg-primary rounded-full p-2">
            <span class="icon icon-play bg-white h-[9px] w-[9px]"></span>
          </span>
          <span class="font-medium text-xs md:text-2xl text-white header-font">Watch Demo</span>
        </a>
      </div>
    </div>
    <p class="text-base font-medium leading-7 text-white my-4 header-font">
      Take Your Hospitality Management <br />
      to the Next Level with Instruo
    </p>
  </div>
</div>
