<%= mobile_view do %>
  <%= render "devise/shared/top_mobile" %>
  <div class="px-4 py-6">
    <form action="">
      <div class="mb-6">
        <h1 class="page-heading">Login</h1>
      </div>

      <div class="flex flex-col gap-6">
        <div class="input-group">
          <label for="" class="label-text">Welcome! Please enter your mobile number</label>
        </div>
        <div class="input-group">
          <label for="number" class="label-text">Mobile Number</label>
          <div tabindex="-1"
               class="mt-4 flex border rounded border-line-colour-light focus-within:border-primary">
            <div class="h-[52px] w-[96px] border-r border-line-colour-light focus-within:border-primary flex items-center justify-center">
              <%= image_tag "india.png",  alt: "IN", class: "w-8 h-8 rounded-full flag-box-shadow" %>
            </div>
            <input type="number" class="input-number border-none"/>
          </div>
        </div>
        <div class="mt-4">
          <button class="w-full btn-primary">
            <span>Get OTP</span>
          </button>
        </div>
      </div>
    </form>
    <div class="mt-6">
      <%= link_to "Login with email and password", new_user_session_path, class: "link-text" %><br/>
    </div>
  </div>
<% end %>