<%= desktop_view do %>
  <div class="h-full columns-2 size-full">
    <%= render "devise/shared/left_side_desktop" %>
    <div class="flex h-full items-center justify-center right-side">
      <div class="bg-white w-[528px]">
        <img src="/assets/login_page_logo_grey.png" alt="Superskill" class="mx-auto mb-12 h-10"/>
        <div class="rounded-lg p-8 login-box-shadow">
          <h1 class="my-8 page-heading">OTP</h1>
          <form action="">
            <div class="flex flex-col gap-8">
              <div class="input-group">
                <label for="" class="label-text">Please enter the verification code send to</label>
                <div class="flex justify-between">
                  <label for="number" class="label-text text-primary">+91 <%= @mobile_number %></label>
                  <%= link_to new_login_path(old_mobile_number: @mobile_number), class: "h-6 w-6 items-center rounded-full p-1.5 edit-box-shadow" do %>
                    <img src="/assets/edit.svg" class="h-3 w-3" alt=""/>
                  <% end %>
                </div>
              </div>
              <div class="input-group">
                <label for=" " class="label-text">Verification code(OTP)</label>
                <div id="otp" class="mt-6 flex justify-between gap-6">
                  <input class="input-text-otp" type="text" id="first"/>
                  <input class="input-text-otp" type="text" id="second"/>
                  <input class="input-text-otp" type="text" id="third"/>
                  <input class="input-text-otp" type="text" id="forth"/>
                </div>
                <a href="#" class="float-right pt-6 link-text text-red0">Resend OTP</a>
              </div>
              <button class="w-full btn-default">
                <span class="text-black0">Verify</span>
              </button>
            </div>
          </form>
          <div class="mt-8 pb-5">
            <p class="text-center font-normal text-gray1">OTP will be valid for 5min</p>
          </div>
        </div>
        <hr class="mt-1 border-y-2 border-primary"/>
      </div>
    </div>
  </div>
<% end %>