<div class="flex flex-col gap-4">
  <div class="heading heading-medium pb-6">Banners</div>
  <h4>Banner with image background and text</h4>
  <%= banner(image: "deewali.jpg", text: "Our <a href='#' class='underline'>new feature</a> is live!", text_color: "white",icon_color: "bg-white") %>
  <h4>Banner with only text </h4>
  <%= banner(text: "Important Update! Stay tuned.", text_color: "text-danger",bg_color:"bg-primary-light-50") %>
  <h4>Banner with only image </h4>
  <%= banner(image: "deewali.jpg") %>
</div>


