<div class="flex flex-col gap-4">
  <%= banner(image: "deewali.jpg", text: "Our <a href='#' class='underline'>new feature</a> is live!", text_color: "white",icon_color: "white") %>
  <%= banner(text: "Important Update! Stay tuned.", text_color: "text-red-600") %>
  <%= banner(image: "deewali.jpg") %>
</div>


