<div class="my-6">
  <%= render "shared/components/back_button", back_link: ui_components_path %>
</div>

<div class="heading heading-medium">Typography</div>

<ul class="my-6">
  <li>Headings</li>
</ul>