<!-- TODO: Refactor hardcoded tailwind styles into a stylesheet -->
<%= render "shared/header" , header_options(title: "Dashboard" ) %>

<div>
  <div class="summary p-6">
    <h2 class="capitalize font-semibold text-xl leading-7">
      enrolled courses
    </h2>

    <div class="card-list grid grid-cols-3 gap-6 mt-6">
      <article class="card drop-shadow-sm p-6 bg-white rounded-lg h-[100px] flex gap-6">
        <div class="card-icon flex text-[#3456DA] justify-center items-center bg-[#EEF2FF] h-12 w-12 rounded-md">
          <%= render "shared/svg/book_open" %>
        </div>

        <div class="card-content">
          <div class="font-semibold text-xxl color-[#171717]">
            2
          </div>

          <div class="font-medium text-sm leading-4 text-[#737373]">
            Courses Enrolled
          </div>
        </div>
      </article>

      <article class="card drop-shadow-sm p-6 bg-white rounded-lg h-[100px] flex gap-6">
        <div class="card-icon flex text-[#3456DA] justify-center items-center bg-[#EEF2FF] h-12 w-12 rounded-md">
          <%= render "shared/svg/clock" %>
        </div>

        <div class="card-content">
          <div class="font-semibold text-xxl color-[#171717]">
            4 hrs
          </div>

          <div class="font-medium text-sm leading-4 text-[#737373]">
            Time Spent
          </div>
        </div>
      </article>

      <article class="card drop-shadow-sm p-6 bg-white rounded-lg h-[100px] flex items-center gap-6">
        <div class="card-icon flex text-[#3456DA] justify-center items-center bg-[#EEF2FF] h-12 w-12 rounded-md">
          <%= render "shared/svg/file_text" %>
        </div>

        <div class="card-content flex flex-col justify-between">
          <div class="font-semibold text-xxl color-[#171717]">
            3
          </div>

          <div class="font-medium text-sm leading-4 text-[#737373]">
            Assignments Pending
          </div>
        </div>
      </article>
    </div>
  </div>

  <div class="relative overflow-x-auto p-6">
    <h2 class="capitalize font-semibold text-xl leading-7">
      leaderboard
    </h2>

    <table class="w-full text-left mt-6">
      <thead class="text-sm font-medium text-[#101828] capitalize bg-white rounded">
        <tr>
          <th scope="col" class="px-2 py-2.5">
            Name
          </th>
          <th scope="col" class="px-2 py-2.5">
            Score
          </th>
          <th scope="col" class="px-2 py-2.5">
            Rank
          </th>
        </tr>
      </thead>

      <tbody>
        <tr class="bg-white">
          <th scope="row" class="font-normal px-2 py-2.5 text-[#475569] whitespace-nowrap">
            Jubin Shaju
          </th>
          <td class="font-normal px-2 py-2.5 text-[#475569] whitespace-nowrap">
            999
          </td>
          <td class="font-normal px-2 py-2.5 text-[#475569] whitespace-nowrap">
            1
          </td>
        </tr>

        <tr class="bg-white">
          <th scope="row" class="font-normal px-2 py-2.5 text-[#475569] whitespace-nowrap">
            Ashik Mathew
          </th>
          <td class="font-normal px-2 py-2.5 text-[#475569] whitespace-nowrap">
            888
          </td>
          <td class="font-normal px-2 py-2.5 text-[#475569] whitespace-nowrap">
            2
          </td>
        </tr>

        <tr class="bg-white">
          <th scope="row" class="font-normal px-2 py-2.5 text-[#475569] whitespace-nowrap">
            Deepak
          </th>
          <td class="font-normal px-2 py-2.5 text-[#475569] whitespace-nowrap">
            777
          </td>
          <td class="font-normal px-2 py-2.5 text-[#475569] whitespace-nowrap">
            3
          </td>
        </tr>

        <tr class="bg-white">
          <th scope="row" class="font-normal px-2 py-2.5 text-[#475569] whitespace-nowrap">
            Poornima
          </th>
          <td class="font-normal px-2 py-2.5 text-[#475569] whitespace-nowrap">
            666
          </td>
          <td class="font-normal px-2 py-2.5 text-[#475569] whitespace-nowrap">
            4
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
