<div class="h-8 shadow-md border border-line-colour-light flex items-center justify-between px-4 <%= bg_color %>" 
     data-controller="notification-bar"
     data-notification-bar-target="banner">  
  
  <% if text.present? %>
    <div class="flex-1 flex justify-center">
      <span class="text-sm <%= text_color %>">
        <strong><%= text.html_safe %></strong>
      </span>
    </div>
  <% end %>

  <div class="flex items-center justify-end">
    <span class="icon icon-close icon-small cursor-pointer <%= icon_color %>" 
          data-action="click->notification-bar#close"></span>
  </div>
</div>
