<div class="flex flex-col gap-4">
  <div class="heading heading-medium pb-6">Banners</div>
  <%= notification_bar(
    text: "Our #{link_to 'new feature', user_settings_path, class: 'underline'} is live!",
    text_color: "text-letter-color",
    icon_color: "bg-letter-color",
    bg_color: "bg-theme-highlight"
  ) %>
</div>


