<div id="course-list-with-assign-form">
  <% if courses.empty? %>
    <div class="text-notice">No courses to assign</div>
  <% else %>
    <ul id="course-list" class="w-full overflow-y-auto p-1 flex flex-col gap-4 h-[700px]">
      <% courses.each do |course| %>
        <div><%= course.title %></div>
      <% end %>
    </ul>
  <% end %>
</div>
