<div class="my-4 mx-auto w-full text-left">
  <%= render 'shared/components/back_button', back_link: program_path(@program) %>
  <div class="box">
    <%= heading_component(text: "Add courses") %>
  </div>
  <%= render "assign_course", courses: @courses, search_context: @search_context, program: @program, tags: @tags %>
</div>
