<div class="flex flex-col gap-4 items-center justify-center w-screen md:w-[456px] h-[740px] md:h-[656px] py-6">
  <%= image_tag "all_set_illustration.png", alt: "All set" %> 
  <button class="btn-primary" 
          data-action="click->onboarding#next" 
          data-current="sallSetScreen"
          data-next="">
    <span class="text-white">Home</span>
  </button> 
</div>
