<div class="flex flex-col bg-white w-full md:w-[456px] h-screen md:h-[656px] py-6 relative">
  <div class="flex flex-col gap-4 px-8 mt-16 md:mt-0 pb-6 border-b border-line-colour-light">     
    <h2 class="heading page-heading-medium">Hello, David</h2>
    <p class="heading text-sm">Your journey to mastering hospitality starts here.</p>
  </div>
</div>