<div class="z-20 flex w-full p-1 cursor-pointer items-center justify-between rounded-lg border border-line-colour">
  <%= input_radio(
        form: f,
        field_name: :preferred_local_language,
        option: language,
        value: language_value(language),
        width: "w-full",
        html_options: {
          checked: index == 0,
          data: {
            lang_target: "radio",
            action: "change->lang#languageSelected"
          }
        }) %>
</div>
