<div data-controller="notifications" class="relative inline-block p-0 m-0">
  <%= link_to notifications_path, class: "hover:pointer", data: { turbo_stream: true } do %>
    <span class="icon icon-notification icon-small md:icon-base bg-letter-color"></span>
    <span class="absolute top-0 left-4 md:left-3 bg-danger rounded-full w-3 h-3 flex items-center justify-center">
      <%= render "notifications/count_value", count: pending_notifications.size %>
    </span>
  <% end %>
  <%= render 'notifications/list', notifications: [] %>
</div>
