<div data-controller="notifications" class="relative inline-block p-0 m-0">
  <%= link_to notifications_path, class:"hover:pointer", data: { turbo_stream: true } do %>
    <span class="icon icon-notification icon-small md:icon-base bg-letter-color"></span>
  <% end %>
  <span class="absolute top-2 left-4 md:left-6 text-[8px] md:text-xs"><span id="notification-count">0</span></span>
  <%= render "notifications/list", notifications: [] %>
</div>