<%= render 'shared/components/back_button', back_link: @back_link %>
<div class="flex flex-col md:flex-row  gap-4 justify-between items-start my-6">
  <h1 class="heading page-heading-medium pl-0">Assign course</h1>
</div>

<%= course_select_component(
      search_context: @search_context,
      courses: @courses,
      tags: @tags,
      cancel_link: @back_link,
      show_duration: true,
      submit_path: course_assigns_path
    ) %>