<div class="bg-white mt-4">
   <div class="flex flex-col gap-4 justify-center">
      <div class="px-4 py-4 border border-line-colour-light flex justify-between rounded">
         <div class="flex items-center  space-x-2">
            <span class="icon icon-academy bg-letter-color h-5 w-5"></span>
            <p class="font-medium">Courses Enrolled</p>
         </div>
         <p class="text-2xl font-bold text-primary mt-2"><%= @user_stats.no_courses_enrolled %></p>
      </div>
      <div class="px-4 py-4 border border-line-colour-light flex justify-between rounded">
         <div class="flex items-center  space-x-2">
            <span class="icon icon-timer bg-letter-color h-5 w-5"></span>
            <p class="font-medium">Time Spent</p>
         </div>
         <p class="text-2xl font-bold text-primary mt-2"><%= duration_in_words(@user_stats.total_time_spent) %></p>
      </div>
      <div class="px-4 py-4 border border-line-colour-light flex justify-between rounded">
         <div class="flex items-center  space-x-2">
            <span class="icon icon-check-list bg-letter-color h-5 w-5"></span>
            <p class="font-medium">Score</p>
         </div>
         <p class="text-2xl font-bold text-primary mt-2"><%= @user_stats.user_score %></p>
      </div>
   </div>
</div>