<div id="user-state">
  <% if user.active? %>
    <div class="flex items-center space-x-2 bg-primary-light-50 py-1 px-2 rounded">
      <span class="bg-cover inline-block icon-green-circle bg-primary-light icon-tiny"></span>
      <p class="text-xs text-primary">Active</p>
    </div>
  <% elsif user.deactivated? %>
    <div class="flex items-center space-x-2 bg-danger-light py-1 px-2 rounded">
      <span class="bg-cover inline-block icon-red-circle bg-danger icon-tiny"></span>
      <p class="text-xs text-danger">Deactivated</p>
    </div>
  <% elsif user.verified? %>
    <div class="flex items-center space-x-2 bg-danger-light py-1 px-2 rounded">
      <span class="bg-cover inline-block icon-red-circle bg-danger icon-tiny"></span>
      <p class="text-xs text-danger">Verified</p>
    </div>
  <% elsif user.unverified? %>
    <div class="flex items-center space-x-2 bg-danger-light py-1 px-2 rounded">
      <span class="bg-cover inline-block icon-red-circle bg-danger icon-tiny"></span>
      <p class="text-xs text-danger">Unverified</p>
    </div>
  <% else %>
    <div class="flex items-center space-x-2 bg-slate-grey-light py-1 px-2 rounded">
      <span class="bg-cover inline-block icon-red-circle bg-slate-grey-50 icon-tiny"></span>
      <p class="text-xs text-slate-grey-50">Unknown</p>
    </div>
  <% end %>
</div>