<div id="user-state">
  <% if user.active? %>
    <div class="flex items-center space-x-2 bg-primary-light-50 py-1 px-2 rounded">
      <span class="bg-cover inline-block icon-green-circle bg-primary-light icon-tiny"></span>
      <p class="text-xs text-primary">Active</p>
    </div>
  <% end %>

  <% if user.deactivated? %>
    <div class="flex items-center space-x-2 bg-danger-light py-1 px-2 rounded">
      <span class="bg-cover inline-block icon-red-circle bg-danger icon-tiny"></span>
      <p class="text-xs text-danger">Deactivated</p>
    </div>
  <% end %>
</div>