<div class="box">
  <h1 class="page-title text-sm font-medium">Team</h1>
  <div class="">
    <table class="w-full text-sm text-left rtl:text-right rounded box-shadow-medium my-5 mx-1">
      <thead class="text-xs border-b border-line-colour-light sticky top-0 z-10 uppercase">
      <tr>
        <th scope="col" class="px-6 py-3">
          Name
        </th>        
        <th scope="col" class="px-6 py-3">
          Email
        </th>
        <th scope="col" class="px-6 py-3">
          Phone
        </th>
        <th scope="col" class="px-6 py-3">
          Role
        </th>
        <th scope="col" class="px-6 py-3">
          Course
        </th>
      </tr>
      </thead>
      <tbody class="bg-white divide-y divide-slate-grey-light">
      <% users.each do |user| %>
        <%= render "users/user", user: user, learning_partner: learning_partner %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
