<h1 class="my-8 text-3xl font-bold">
  <p class="auto text-center">Editing user</p>
</h1>

<div class="my-8 mx-4">
  <%= link_to "Back to users", users_path, class: "underline pointer" %>
</div>

<%= render "form", user: @user %>
