<div data-controller="course-select-component">
  <%= _course_select_search_component(search_context:, tags:) %>
  <%= _course_select_list_component(search_context:, courses:, cancel_link:, show_duration:) %>
</div>