<div id="settings-page-body-mobile" class="gap-8 rounded border-b border-line-colour box-shadow-medium">
  <div class="flex w-full flex-col gap-6 border-b border-line-colour-light">
    <div class="flex justify-between px-4 py-6 border-b border-line-colour-light">
      <h1 class="text-base font-semibold">Personal information</h1>
      <%= link_to edit_settings_path, data: { turbo_frame: "edit-settings-modal" }, class: "box-shadow-medium flex items-center justify-between gap-1 rounded-sm py-1 px-2" do %>
        <span class="text-xs font-medium text-secondary">Edit</span>
        <span class="icon icon-edit h-[10px] w-[10px]"></span>
      <% end %>
    </div>
    <div class="px-4">
      <div class="text-sm font-normal text-letter-color-light">Email</div>
      <div class="mt-2 text-base font-medium"><%= user.email %></div>
    </div>
    <div class="px-4">
      <div class="text-sm font-normal text-letter-color-light">Phone</div>
      <div class="mt-2 text-base font-medium"><%= user.phone %></div>
    </div>
  </div>
  <div class="px-4 py-6">
    <h1 class="text-base font-semibold">Change password</h1>
    <div class="mt-4">
      <%= link_to 'Change your password', change_password_settings_path, data: { turbo_frame: 'change-password-modal' }, class: 'link-text' %>
    </div>
  </div>
</div>