<div class="flex justify-between p-4 bg-white items-center">
  <div class="flex items-center gap-4">
  </div>
  <div>
    <!-- Modal toggle -->
    <button data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="btn-default" type="button">Invite</button>
  </div>
</div>
<hr>