<%= render "shared/components/mobile_layout" do %>
  <h1 class="my-4 text-sm font-medium">User settings</h1>
  <%= render "settings/page_header_mobile", user: @user %>
  <%= render "settings/page_body_mobile", user: @user %>

  <div class="my-6 rounded box-shadow-medium">
    <div class="p-8">
      <h1 class="text-base font-semibold">Change password</h1>
      <div class="mt-4">
        <%= link_to 'Change your password', change_password_settings_path, data: { turbo_frame: 'change-password-modal' }, class: 'link-text' %>
      </div>
    </div>
  </div>
<% end %>