<li id="<%= dom_id(course, "unassigned") %>" class="w-full" data-controller="course-select-item" data-course-select-item-course-select-outlet='#course-select-component'>
  <div class="relative">
    <input type="checkbox"
           name="course_ids[]"
           value="<%= course.id %>"
           class="absolute top-4 right-4 w-5 h-5 z-10 border rounded checked:bg-primary checked:border-primary focus:ring-0" />
    <%= build_long_course_card(course, nil) %>
  </div>
</li>
