<div>
  <% if courses.empty? %>
    <div class="text-notice">No courses to select</div>
  <% else %>

    <ul id="course-list" class="flex flex-col gap-4">
      <% courses.each do |course| %>
        <li id="<%= dom_id(course, "unassigned") %>">
          <%= build_long_course_card(course, nil,
                checkbox: {
                  name: 'course_ids[]',
                  value: course.id,
                  id: dom_id(course, 'course_ids'),
                  data: { action: 'change->course-select#toggleAssignButton' }
                }) %>
        </li>
      <% end %>
    </ul>

    <%= _course_select_load_more(search_context: search_context, courses: courses) %>
  <% end %>
</div>