<div class="menu-component-container" data-controller="menu-component">
  <button type="button" class="menu-component-button"
          data-action="click->menu-component#toggleDropdown" data-menu-component-target="menuButton">
    <%= icon("ellipsis-vertical", css: "menu-component-button-icon") %>
  </button>

  <div class="absolute menu-component-list-box hidden <%= position_class %>"
       data-menu-component-target="moreMenu"
       <%= tag.attributes(html_options) %>>
    <div class="menu-component-list-items">
      <% menu_items.each do |item| %>
        <%= render "view_components/menu_component/menu_item_#{item.type}", item: item %>
      <% end %>
    </div>
  </div>
</div>
