<%= button_to item.url,
  item.options.reverse_merge(
    method: :post,
    class: "main-text-lg-normal menu-component-list-items #{item.extra_classes}"
  ) do %>
  <span class="main-text-lg-normal"><%= item.label %></span>
<% end %>
