<%= button_to item.url,
  item.options.reverse_merge(
    method: :post,
    class: "main-text-lg-medium menu-component-list-items #{item.extra_classes}"
  ) do %>
  <span class="main-text-lg-medium"><%= item.label %></span>
<% end %>
