<div class="flex min-h-screen w-full flex-col items-center justify-center gap-6 text-center text-slate-grey-50">
  <%= image_tag "error.png", alt: "Error", class: "" %>
  <div class="text-3xl font-extrabold text-slate-grey-50">404 Error</div>
  <div class="text-base font-bold text-slate-grey-50 md:text-2xl"><%= t('page_not_found') %></div>
  <div class="my-4">
    <%= link_to "Take me out of here.", "/", class: "btn-slate-grey-50" %>
  </div>
</div>
