<div id="invite_button_section">
  <% if learning_partner.payment_plan.present? %>
    <% if policy(:invite).new? && policy(learning_partner).invite? %>
      <%= link_to new_invite_path(team_id: learning_partner.parent_team.id), data: { turbo_frame: "modal" } do %>
        <%= render 'shared/components/icon_button_primary', label: t("invite.invite_user"), icon_name: 'icon-plus' %>
      <% end %>
    <% else %>
      <div class="disabled">
        <%= render 'shared/components/icon_button_primary', label: t("invite.invite_user"), icon_name: 'icon-plus', tooltip_text: t('invite.max_user_count'), tooltip_position: "left" %>
      </div>
    <% end %>
  <% else %>
    <div class="disabled">
      <%= render 'shared/components/icon_button_primary', label: t("invite.invite_user"), icon_name: 'icon-plus', tooltip_text: t("learning_partner.payment_plan.create_plan_to_invite"), tooltip_position: "left" %>
    </div>
  <% end %>
</div>
