# This is a template. Please do not reuse any of these values for production use, create your own values as per this template.

org_name: "Blackboard LMS"

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies. Generate your own secret using `rails secret` command
secret_key_base: "Your secret key base"

# password verifier to set temporary password use `openssl rand -base64 12` to generate a random key
password_verifier: "your password verifier"

# Database config
db:
    database: "blackboard_development"
    username: "postgres"
    password: "postgres"
    host: "localhost"
    port: "5432"

# Google analytics config
google:
    ga_id: "my google analytics id"

app:
    base_url: "https://example.com"
    from_email: "noreply@example.com"

smtp:
    address: "smtp.example.com"
    port: 587
    domain: 'example.com'
    user_name: 'smtp-user-name'
    password: 'smtp-password'

storage:
    aws:
        region: "aws region"
        default_bucket: "bucket name"
        video_store_bucket: "video store bucket name"
        access_key_id: "aws access key id"
        secret_access_key: "aws access secret"

sentry:
  dsn: ''

msg91:
  auth_key: "msg91 auth key"
  template_id: "template id of otp template"
  url: 'your msg91 api url'

redis:
  url: "redis://127.0.0.1:6379/12"

sidekiq:
  password: "sidekiq password"

whatsapp:
  url: "www.example.com"
  auth_token: "token"

vimeo:
  access_token: "api token"

host:
 url: "Local/Production url"

fast2sms:
  url: "https://www.fast2sms.com/dev/bulkV2"
  auth_key: "api_key"
  sender_id: "sender_id"
  template:
    otp: "123455"
    welcome: "123456"
    course_assigned: "180052"
    course_enrolled: "180054"
    b2c_verify: "12071"

newrelic:
    license_key: 'license key'
    user_key: 'user key'

logrocket:
  token: "token"

msg91:
  url: "https://control.msg91.com/api/v5/flow"
  auth_key: "api_key"
  sender_id: "sender_id"
  template:
    otp: "180050"
    course_assigned: "180052"
    course_enrolled: "180054"
    welcome: "180056"

api_token: '4ePPNvqLedObe0MpnYrEupWKm4eRYcPG'

llm_token:
  gemini: "123456"
