# This is a template. Please do not reuse any of these values for production use, create your own values as per this template.

org_name: "Blackboard LMS"

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies. Generate your own secret using `rails secret` command
secret_key_base: "Your secret key base"

# password verifier to set temporary password use `openssl rand -base64 12` to generate a random key
password_verifier: "your password verifier"

# Database config
db:
    database: "blackboard_development"
    username: "postgres"
    password: "postgres"
    host: "localhost"
    port: "5432"

# Google analytics config
google:
    ga_id: "my google analytics id"

app:
    base_url: "https://example.com"
    from_email: "noreply@example.com"

smtp:
    address: "smtp.example.com"
    port: 587
    domain: 'example.com'
    user_name: 'smtp-user-name'
    password: 'smtp-password'
