test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %>

local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

# Use bin/rails credentials:edit to set the AWS secrets (as aws:access_key_id|secret_access_key)
amazon:
 service: S3
 access_key_id: <%= Rails.application.credentials.dig(:storage, :aws, :access_key_id) %>
 secret_access_key: <%= Rails.application.credentials.dig(:storage, :aws, :secret_access_key) %>
 region: <%= Rails.application.credentials.dig(:storage, :aws, :region) %>
 bucket: <%= Rails.application.credentials.dig(:storage, :aws, :bucket) %>
