<div class="relative flex flex-col gap-3" data-controller="date-picker">
  <%= form.label local_assigns[:field_name], local_assigns[:label], class: "text-sm font-medium" %>
  <div class="relative flex w-full flex-row items-center">
    <!--    <input type="date" id="datePicker" class="invisible p-0 w-[2px]" data-action="change->date-picker#datePicked" data-date-picker-target="datePicker" min="<%#= local_assigns[:min] %>" max="<%#= local_assigns[:max] %>"/>-->
    <%= date_field_tag(
          '', # This hidden field won't be submitted
          nil,
          id: 'datePicker',
          class: 'invisible p-0 w-[2px]',
          min: local_assigns[:min],
          max: local_assigns[:max],
          data: {
            action: 'change->date-picker#datePicked',
            date_picker_target: 'datePicker'
          }
        )
    %>

    <%= input_field(
          form: local_assigns[:form],
          field_name: local_assigns[:field_name],
          placeholder: local_assigns[:placeholder],
          type: "text",
          width: "w-full",
          html_options: {
            data: {
              date_picker_target: "dateSelector"
            },
            readonly: true
          }
        ) %>

    <div class="absolute right-2 flex items-center pl-2">
      <span class="cursor-pointer icon-small icon icon-calendar bg-letter-color" data-action="click->date-picker#openDatePicker"></span>
    </div>
  </div>
</div>
