<section class="my-6">
  <div class="heading heading-medium my-2"><%= heading %></div>
  <div class="flex gap-4">
    <%= yield demo %>
  </div>
  <div>
    <p>Usage</p>
    <br/>
    <pre class="code">
    </pre>
  </div>
</section>