<% if external_video_hosting? && video_iframe.present? && local_content.status == "complete" %>
  <div class="absolute inset-0 flex justify-center items-center bg-white" data-vimeo-target="vimeoLoader">
    <%= render "shared/components/spinner" %>
  </div>
  <%= video_iframe.gsub('<iframe', '<iframe data-vimeo-target="vimeoPlayer" data-fullscreen-once="true"').html_safe %>
<% elsif Rails.env.development? %>
  <%= video_tag rails_blob_path(local_content.video), controls: true %>
<% else %>
  <div class="absolute inset-0 flex justify-center items-center text-center"><%= t("local_content.video_under_process") %></div>
<% end %>
