<div id="video-frame" class="embed-container border-line-colour-light rounded border p-2 xl:h-[226px]">
  <% if local_content.video.attached? %>
    <% if Rails.env.production? && upload_pending?(local_content) && current_user.is_admin? %>
      <div class="absolute inset-0 flex justify-center items-center">
        <%= link_to retry_local_content_path(local_content),
                data: { turbo_method: :put, turbo_frame: "video-frame" } do %>
          <%= render "shared/components/icon_button_primary_small", label: "Retry upload", icon_name: "icon-retry" %>
        <% end %>
      </div>
    <% else %>
      <%= render "lessons/video_player", video_iframe: video_iframe, local_content: %>
    <% end %>
  <% else %>
    <div class="w-full inline-block text-center"><%= t("local_content.video_not_available") %></div>
  <% end %>
</div>
