<div class="h-1/3 mobi-home-banner flex items-center">
  <div class="ml-5 w-full">
    <img src="/assets/login_page_logo_white.png" class="w-[140px]" alt="">
    <p class="text-base font-medium leading-7 text-white mt-6 mb-5">
      Take Your Hospitality Management <br> to the Next Level with Superkill.app
    </p>
    <a href="#" class="btn-watch-demo">
      <span class="icon icon-play h-[24px] w-[24px]"></span>
      <span class="font-medium text-base md:text-2xl">Watch Demo</span>
    </a>
  </div>
</div>