<div class="heading-extra-large pb-6">
    Forgot Password
</div>

<%= form_with url: "forgot_password_path" do |form| %>
    <%= input_field(
        f: form,
        field_name: :phone_number,
        label: "Phone Number",
        placeholder: "Enter number",
        width: "w-full",
        type: "number"
    ) %>

    <div class="mt-40 flex flex-col justify-center gap-4">
      <%= link_to otp_field_path(type: "forgot_password") do %>
        <%= button(label: "Send OTP", size: "xl",width: "w-full") %>
      <% end %>
    </div>
<% end %>
