<div class="heading-extra-large pb-6">
    Forgot Password
</div>

<%= form_with url: otp_login_path, method: :post, scope: :login, data: { turbo: false } do |form| %>
    <%= input_field(
        f: form,
        field_name: :phone_number,
        label: "Phone Number",
        placeholder: "Enter number",
        width: "w-full",
        type: "number"
    ) %>

    <div class="mt-40 flex flex-col justify-center gap-4">
        <%= link_button(
            label: "Send OTP",
            path: otp_field_path,
            size: "xl",
            width: "w-full"
        ) %>
    </div>
<% end %>
