<div class="my-6">
  <%= render "shared/components/back_button", back_link: ui_components_path %>
</div>

<div class="heading heading-medium">Buttons</div>

<ul class="my-6">
  <li>Button 1</li>
</ul>