<div class="my-6">
  <%= render "shared/components/back_button", back_link: ui_components_path %>
</div>

<div class="heading heading-medium">Buttons</div>

<section class="my-6">
  <h2>Button</h2>
  <p>
    <%= render "ui/buttons/button", label: "My Button" %>
  </p>
</section>

<!--<section class="my-6">-->
<!--  <h2>Extra large button</h2>-->
<!--  <p>-->

<!--  </p>-->
<!--</section>-->

<!--<section class="my-6">-->
<!--  <h2>Large button</h2>-->
<!--  <p>-->

<!--  </p>-->
<!--</section>-->

<!--<section class="my-6">-->
<!--  <h2>Medium button</h2>-->
<!--  <p>-->

<!--  </p>-->
<!--</section>-->

<!--<section class="my-6">-->
<!--  <h2>Small button</h2>-->
<!--  <p>-->

<!--  </p>-->
<!--</section>-->