<div id="selected-tags" class="flex flex-row justify-between my-4">
  <% if tags.length > 0 %>
    <div class="space-x-2 flex flex-row">
      <% tags.each do |tag| %>
        <a class="inline-block" data-action="click->searches#removeTag" data-label="<%= tag %>">
          <%= button(label: tag, type: "secondary", size: "sm", icon_name: "x-circle", icon_position: "right") %>
        </a>
      <% end %>
    </div>
  <% end %>
</div>
