<div id="selected-tags" class="flex flex-row justify-between my-4">
  <% if tags.length > 0 %>
    <div class="space-x-2 flex flex-row">
      <% tags.each do |tag| %>
        <a class="inline-block" data-action="click->searches#removeTag" data-label="<%= tag %>">
          <%= render 'shared/components/button_default_small', label: tag, icon_name: 'icon-close' %>
        </a>
      <% end %>
    </div>
  <% end %>
</div>
