<div class="flex w-[52px] md:w-[120px] h-[6px] md:h-2 border-none">
  <div class="h-1 grow bg-primary-light-100 w-full h-full border border-primary-light-100 rounded md:rounded-lg">
    <div class="h-1 bg-primary h-full border rounded-sm md:rounded" style="width: <%= fill %>%"></div>
  </div>
</div>
