<%= render "shared/components/desktop_layout" do %>
<div class="flex justify-between items-center mb-6">
   <h1 class="pl-0 text-xl font-bold">Assign course</h1>
   <div class="flex items-center gap-4">
      <div class="relative rounded-md shadow-sm">
         <div class="pointer-events-none absolute inset-y-0 flex items-center pl-3">
            <span class="icon icon-search icon-small"></span>
         </div>
         <input
            type="text"
            value="Search courses"
            name="price"
            id="price"
            class="input-search"
            placeholder="Search courses"
            />
      </div>
      <div class="box-shadow-medium flex items-center gap-2 rounded px-3 py-2">
         <span class="icon icon-filter icon-small"></span>
         <span class="text-secondary text-sm">Filter</span>
      </div>
   </div>
</div>
<div class="overflow-y-auto p-1 flex flex-col gap-4 h-[528px] sm:h-[500px] md:h-[600px] lg:h-[700px]" data-controller="assign-course">
   <div class="flex flex-row p-6 box-shadow-medium" data-item="card">
      <%= image_tag "course_card_image1.png", alt: "Superskill",class: "h-[208px] w-[140px] rounded-l object-cover" %>
      <div class="flex flex-col px-4 pt-2">
         <div class="flex justify-between">
            <p class="text-primary mb-4 overflow-hidden text-ellipsis text-base font-semibold italic">
               Basics of Hospitality  
            </p>
            <div class="flex items-center space-x-4">
               <div class="flex items-center space-x-4 hidden" data-container="durationContainer">
                  <div data-label="labelContainer">
                     <label for="duration"  class="font-medium">Assign Duration:</label>
                  </div>
                  <div class="hidden flex items-center font-medium" data-label="customLabelContainer">
                     <span>Custom:</span>
                     <input type="date" id="custom-date" class="border-0 focus:ring-0" data-action="change->assign-course#datePicked">
                  </div>
                  <select id="duration" class="border border-line-colour-light box-shadow-small rounded focus:ring-0" data-action="change->assign-course#durationChanged" data-duration="duration">
                     <option value="1 day">1 day</option>
                     <option value="3 day">3 day</option>
                     <option value="1 week">1 week</option>
                     <option value="custom">Custom</option>
                  </select>
               </div>
               <input id="checkbox" type="checkbox" class="w-6 h-6 border-2 rounded border-secondary checked:bg-secondary checked:border-secondary checked:focus:bg-secondary focus:ring-0" data-action="assign-course#toggle">
            </div>
         </div>
         <div class="mb-5 flex justify-between space-x-2">
            <div class="flex justify-between space-x-4">
               <div class="flex items-center">
                  <span class="icon icon-lessons h-3.5 w-3.5"></span>
                  <span class="ml-2 text-xs font-medium">8 Lessons</span>
               </div>
               <div class="flex items-center">
                  <span class="icon icon-clock h-3.5 w-3.5"></span>
                  <span class="ml-2 text-xs font-medium">1hr 10min</span>
               </div>
               <div class="flex items-center">
                  <span class="icon icon-user h-3.5 w-3.5"></span>
                  <span class="ml-2 text-xs font-medium">5 Enrolled</span>
               </div>
            </div>
         </div>
         <p class="mb-3 max-h-[20px] overflow-hidden text-ellipsis text-sm font-medium tracking-tight">
            Course Description
         </p>
         <p class="bg-primary-light-50 show-less-desc overflow-hidden text-ellipsis p-4 text-justify text-sm tracking-tight">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking
            at its layout.It is a long established fact that a reader will be distracted by the readable content of a page 
            when looking at its layout.  
         </p>
      </div>
   </div>
   <div class="flex flex-row p-6 box-shadow-medium" data-item="card">
      <%= image_tag "course_card_image1.png", alt: "Superskill",class: "h-[208px] w-[140px] rounded-l object-cover" %>
      <div class="flex flex-col px-4 pt-2">
         <div class="flex justify-between">
            <p class="text-primary mb-4 overflow-hidden text-ellipsis text-base font-semibold italic">
               Basics of Hospitality  
            </p>
            <div class="flex items-center space-x-4">
               <div class="flex items-center space-x-4 hidden" data-container="durationContainer">
                  <div data-label="labelContainer">
                     <label for="duration"  class="font-medium">Assign Duration:</label>
                  </div>
                  <div class="hidden flex items-center font-medium" data-label="customLabelContainer">
                     <span>Custom:</span>
                     <input type="date" id="custom-date" class="border-0 focus:ring-0" data-action="change->assign-course#datePicked">
                  </div>
                  <select id="duration" class="border border-line-colour-light box-shadow-small rounded focus:ring-0" data-action="change->assign-course#durationChanged" data-duration="duration">
                     <option value="1 day">1 day</option>
                     <option value="3 day">3 day</option>
                     <option value="1 week">1 week</option>
                     <option value="custom">Custom</option>
                  </select>
               </div>
               <input id="checkbox" type="checkbox" class="w-6 h-6 border-2 rounded border-secondary checked:bg-secondary checked:border-secondary checked:focus:bg-secondary focus:ring-0" data-action="assign-course#toggle">
            </div>
         </div>
         <div class="mb-5 flex justify-between space-x-2">
            <div class="flex justify-between space-x-4">
               <div class="flex items-center">
                  <span class="icon icon-lessons h-3.5 w-3.5"></span>
                  <span class="ml-2 text-xs font-medium">8 Lessons</span>
               </div>
               <div class="flex items-center">
                  <span class="icon icon-clock h-3.5 w-3.5"></span>
                  <span class="ml-2 text-xs font-medium">1hr 10min</span>
               </div>
               <div class="flex items-center">
                  <span class="icon icon-user h-3.5 w-3.5"></span>
                  <span class="ml-2 text-xs font-medium">5 Enrolled</span>
               </div>
            </div>
         </div>
         <p class="mb-3 max-h-[20px] overflow-hidden text-ellipsis text-sm font-medium tracking-tight">
            Course Description
         </p>
         <p class="bg-primary-light-50 show-less-desc overflow-hidden text-ellipsis p-4 text-justify text-sm tracking-tight">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking
            at its layout.It is a long established fact that a reader will be distracted by the readable content of a page 
            when looking at its layout.  
         </p>
      </div>
   </div>
</div>
<div id="footer" class="flex gap-4 py-6 text-sm justify-end sticky bottom-0 -mb-8 right-8 w-full bg-white">
   <button>Cancel</button>
   <button class="bg-primary text-white px-4 py-2 rounded">Assign Course</button>
</div>
<% end %>