<%= render "shared/components/mobile_layout" do %>
<div class="flex justify-between items-center">
   <div class="flex gap-2">
      <span class="icon icon-arrow-left icon-small"></span>
      <span class="text-primary text-sm font-semibold">Assign Course</span>
   </div>
   <div class="box-shadow-medium flex items-center gap-2 rounded px-3 py-2">
      <span class="icon icon-filter icon-small"></span>
      <span class="text-secondary text-sm">Filter</span>
   </div>
</div>
<div class="relative rounded-md shadow-sm w-full mt-4">
   <%= form_tag search_courses_path, method: :get do %>
   <div class="pointer-events-none absolute inset-y-0 flex items-center pl-3">
      <span class="icon icon-search icon-small"></span>
   </div>
   <div class="border rounded-lg border-line-colour-light">
      <%= text_field_tag :term, "", id: "course-search", class: "input-search w-full", placeholder: "Search courses ..." %>
   </div>
   <% end %>
</div>
<div data-controller="assign-course"  class="overflow-y-auto p-1 flex flex-col gap-4 h-[400px]" >
   <div class="flex flex-col box-shadow-medium mt-6 p-4" data-item="card">
      <div class="flex justify-between">
         <%= image_tag "course_card_image1.png", alt: "Superskill",class: "h-[118px] w-[152px] rounded-l object-cover" %>
         <div class="flex flex-col items-end">
            <input id="checkbox" type="checkbox" class="w-6 h-6 border-2 rounded border-secondary checked:bg-secondary checked:border-secondary checked:focus:bg-secondary focus:ring-0" data-action="assign-course#toggle">
            <div class="flex flex-col items-center gap-2 hidden" data-container="durationContainer">
               <div class="font-medium flex items-center py-1" data-label="labelContainer">
                  <label for="duration">Assign Duration:</label>
               </div>
               <div class="hidden flex items-center font-medium" data-label="customLabelContainer">
                  <label class="">Custom:</label>
                  <input type="date" id="custom-date" class="border-0 focus:ring-0" data-action="change->assign-course#datePicked">
               </div>
               <select id="duration" class="border border-line-colour-light box-shadow-small rounded focus:ring-0" data-action="change->assign-course#durationChanged" data-duration="duration">
                  <option value="1 day">1 day</option>
                  <option value="3 day">3 day</option>
                  <option value="1 week">1 week</option>
                  <option value="custom">Custom</option>
               </select>
            </div>
         </div>
      </div>
      <div class="flex flex-col mt-4">
         <p class="text-primary  overflow-hidden text-ellipsis text-sm font-extrabold italic mb-1">
            Basics of Hospitality  
         </p>
         <div class="flex justify-between space-x-4 mt-2">
            <div class="flex items-center space-x-2">
               <span class="icon icon-lessons h-2 w-3"></span>
               <span class="ml-2 text-xs font-medium">8 Lessons</span>
            </div>
            <div class="flex items-center space-x-2">
               <span class="icon icon-clock h-2 w-3"></span>
               <span class="ml-2 text-xs font-medium">1hr 10min</span>
            </div>
            <div class="flex items-center space-x-2">
               <span class="icon icon-user h-2 w-3"></span>
               <span class="ml-2 text-xs font-medium">5 Enrolled</span>
            </div>
         </div>
         <p class="my-3 max-h-[20px] overflow-hidden text-ellipsis text-sm font-medium tracking-tight">
            Course Description
         </p>
         <p class="text-letter-color-light max-h-[100px] overflow-hidden text-ellipsis text-justify text-sm tracking-tight">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking
            at its layout.It is a long established fact that a reader will be distracted by the readable content of a page 
            when looking at its layout.      
         </p>
      </div>
   </div>
  
</div>
<div id="mobileFooter" class="bg-white bottom-0">
   <button class="bg-primary rounded w-full p-4 text-white text-base font-medium">Assign Course</button>
   <button class="text-center w-full p-4 text-base font-medium">cancel</button>
</div>
<% end %>