<div class="box-shadow-medium rounded p-4 md:p-6 mx-1">
  <div class="flex items-center justify-between">
    <p class="semibold-heading flex gap-1">
      <span class="heading">Time spent by the users</span>
    </p>
  </div>

  <div class="w-full max-w-4xl bg-white py-6">
    <%= column_chart [
                       { name: "Time spent in minutes", data: dashboard.time_spent_series }
                     ], height: "200px", colors: ["#0075A4"], stacked: true, max: 100,
                     library: {
                       plugins: {
                         legend: { display: false }
                       },
                       scales: {
                         yAxes: [{ ticks: { beginAtZero: true, max: 100 } }]
                       }
                     } %>
  </div>
</div>