<div class="box-shadow-medium rounded p-4 md:p-6 mx-1">
  <div class="flex items-center justify-between">
    <p class="heading heading-semibold flex gap-1">
      <span>Time spent by the users</span>
    </p>
  </div>

  <div class="w-full max-w-4xl bg-white py-6">

    <%= column_chart [
      { name: "Time spent in minutes", data: dashboard.scaled_time_spent_series  }
      ], height: "200px", colors: ["#0075A4"], stacked: true,
      library: {
        plugins: {
          legend: { display: false }
        },
        scales: {
          y: { min: 0, max: 120, ticks: { stepSize: 30 } }
        }
      } %>
  </div>
</div>