<%= render "shared/components/mobile_layout" do %>
<div data-controller="">
   <div class="inline-flex gap-2">
      <span class="icon icon-team-green h-4 w-4"></span>
      <span class="text-primary text-sm font-semibold">Team</span>
   </div>
   <div class="mt-4">
      <ol class="flex flex-wrap items-center gap-1 text-secondary text-[10px]">
         <li class="flex gap-[2px]">
            <a href="#" class="">Tata group dashboard</a>
            <span class="icon icon-simple-arrow-right h-2 w-2"></span>
         </li>
         <li class="flex gap-[2px]">
            <a href="#" class="">Add a Team</a>
            <span class="icon icon-simple-arrow-right h-2 w-2"></span>
         </li>
         <li class="flex gsp-[2px]">
            <a href="#" class="">Taj Hotels & Resorts</a>
            <span class="icon icon-simple-arrow-right h-2 w-2"></span>
         </li>
      </ol>
   </div>
   <div class="flex items-center gap-4  w-[350px] mt-6">
      <img class="h-6" src="assets/taj.png" alt="Profile Picture">
      <span class="font-medium text-sm pt-2">Taj Hotels & Resorts</span>
   </div>
   <div class="flex justify-start gap-6 mt-6">
      <a href="" class="active-border text-base font-normal">User</a>
      <a href="" class="text-base font-normal">Team</a>
   </div>
   <div class="relative w-full py-4">
      <div class="pointer-events-none absolute inset-y-0 flex items-center pl-3">
         <span class="icon icon-search h-4 w-4"></span>
      </div>
      <input
         type="text"
         name="price"
         id="price"
         class="input-search w-full"
         placeholder="Search Team Members"
         />
   </div>
   <div class="mt-4 flex flex-col gap-4">
      <%= render "shared/components/course_watch_time_chart_mobile" %>
      <%= render "shared/components/enrolled_ratio_chart" %>                             
   </div>
   <div class="flex justify-end">
      <button class="py-6">
      <a href="#" class="text-primary box-shadow-medium flex items-center gap-1 rounded p-2 text-sm">
      View all analytics
      <span class="icon icon-arrow-right h-4 w-4"></span>
      </a>
      </button>
   </div>
   <%= render "shared/components/team_list_mobile" %>
</div>
<% end %>