<%= render "shared/components/mobile_layout" do %>
<div data-controller="">
   <div class="inline-flex gap-2">
      <span class="text-primary text-sm font-semibold">Dashboard</span>
   </div>
   <div class="mt-4">
      <ol class="flex flex-wrap items-center gap-1 text-secondary text-[10px]">
         <li class="flex gap-[2px]">
            <a href="#" class="">Tata group dashboard</a>
            <span class="icon icon-simple-arrow-right icon-tiny"></span>
         </li>
         <li class="flex gap-[2px]">
            <a href="#" class="">Add a Team</a>
            <span class="icon icon-simple-arrow-right icon-tiny"></span>
         </li>
         <li class="flex gsp-[2px]">
            <a href="#" class="">Taj Hotels & Resorts</a>
            <span class="icon icon-simple-arrow-right icon-tiny"></span>
         </li>
         <li class="flex gsp-[2px]">
            <a href="#" class="">Table user dashboard</a>
            <span class="icon icon-simple-arrow-right icon-tiny"></span>
         </li>
      </ol>
   </div>
   <%= render "shared/components/team_user_info" %> 
   <%= render "shared/components/team_user_course_status_mobile" %> 
   <div class="mt-4">
      <h2 class="text-base font-medium">Course List</h2>
   </div>
</div>
<% end %>