<%= render "shared/components/desktop_layout" do %>
<div class="flex items-center justify-between">
   <p class="text-base font-medium flex gap-1">
      <span class="">Welcome</span><span class=""><%= current_user.name %></span>
   </p>
   <div class="p-4 flex justify-between relative">
      <select
         id="date-filter"
         class="block appearance-none w-full border border-line-colour-light pe-7 text-base rounded"
         >
         <option value="this-week" selected>This Week</option>
         <option value="last-week">Last 7 days</option>
         <option value="this-month">Last 30 days</option>
         <option value="last-month">Last Month</option>
         <option value="last-year">Last Year</option>
      </select>
   </div>
</div>
<div class="box-shadow-medium rounded p-6 mx-1">
   <div class="flex items-center justify-between">
      <p class="text-base font-semibold flex gap-1">
         <span class="">Time spent by the users</span>
      </p>
   </div>
   <%= render "shared/components/average_time_spend_chart" %>
</div>
<div class="p-6 bg-white rounded-lg box-shadow-medium mt-6">
   <p class="text-xl font-semibold">
      Your team have spent in 
      <span class="text-primary ">10hr 25 min</span> 
     this week
   </p>
   <p class="mt-2 text-sm font-medium">
      That means <span class="text-primary">200% +</span> higher than last week
   </p>
   <div class="mt-6 flex flex-row justify-between text-start">
      <div class="text-center">
         <p class="text-primary text-2xl font-bold"> 
            01<span class="align-baseline text-base text-primary">hr</span> : 12<span class="align-baseline text-base text-primary">min</span>
         </p>
         <p class="pt-1 text-sm">AVG watch time per user</p>
      </div>
      <div class="text-center">
         <p class="text-primary text-2xl font-bold">2</p>
         <p class="pt-1 text-sm">Courses per user</p>
      </div>
      <div class="text-center">
         <p class="text-primary text-2xl font-bold">290</p>
         <p class="pt-1 text-sm">Team score</p>
      </div>
   </div>
</div>
<%= render "shared/components/team_progress_chart" %>
<% end %>