<div class="box-shadow-medium p-4 md:basis-1/2 md:p-6">
   <div class="flex w-full flex-col">
      <div class="flex flex-row justify-between">
         <div class="flex flex-col gap-2">
            <h3 class="heading semibold-heading">Started Vs Completed</h3>
            <div class="flex items-center space-x-6">
               <div class="flex items-center space-x-2">
                  <span class="icon-tiny bg-[#0075A4]"></span>
                  <span class="text-xs font-medium">Course Started</span>
               </div>
               <div class="flex items-center space-x-2">
                  <span class="bg-primary icon-tiny"></span>
                  <span class="text-xs font-medium">Course Completed</span>
               </div>
            </div>
         </div>
      </div>
      <div class="w-full max-w-4xl bg-white py-6">
         <%= column_chart [
            { name: "Course Started", data: dashboard.course_started_series },
            { name: "Course Completed", data: dashboard.course_completed_series }
            ], colors: ["#0075A4", "#00B48D"],
            height: "200px", library: {
               plugins: {
                  legend: { display: false } 
                },scales: {
               yAxes: [{ ticks: { beginAtZero: true, max: 100 } }]
            }
            } %>
      </div>
   </div>
</div>