<div class="flex flex-col gap-4">
<%= render "dashboards/watch_time_chart_mobile", dashboard: dashboard %>
<%= render "dashboards/total_views_chart", dashboard: dashboard %>
<%= render "dashboards/users_enrolled", dashboard: dashboard %>
<%= render "dashboards/self_enrolled_vs_assigned_chart", dashboard: dashboard %>
</div>