<div class="box-shadow-medium p-4 md:basis-1/2 md:p-6">
   <div class="flex w-full flex-col">
      <div class="flex flex-row justify-between">
         <div class="flex flex-col gap-2">
            <h3 class="heading semibold-heading">Number of courses enrolled per day</h3>
         </div>
      </div>
      <div class="w-full max-w-4xl bg-white py-6">                
         <%= column_chart [
            { name: "Users Enrolled", data: dashboard.course_enrolled_series }
            ], height: "200px", colors: ["#0075A4"],stacked: true, max: 100,
            library: {
               plugins: {
                  legend: { display: false } 
                },
            scales: {
               yAxes: [{ ticks: { beginAtZero: true, max: 100 } }]
            }
            } %>
      </div>
   </div>
</div>