<%= render "shared/header", header_options(title: "Dashboard") %>
<div class="mx-8 my-8">
  <% if policy(:event).index? %>
    <li><%= link_to 'Analytic Events Stream', events_path %></li>
  <% end %>

  Work in progress
</div>