<%= render "shared/components/desktop_layout" do %>
<main class="">
   <h1 class="mb-4 pl-0 text-xl font-bold">Dashboard</h1>
   <div class="">
      <ol class="flex items-center space-x-2 text-secondary text-xs">
         <li class="flex space-x-1">
            <a href="#" class="">Tata group dashboard</a>
            <span class="icon icon-simple-arrow-right h-4 w-4"></span>
         </li>
         <li class="flex space-x-1">
            <a href="#" class="">Add a Team</a>
            <span class="icon icon-simple-arrow-right h-4 w-4"></span>
         </li>
         <li class="flex space-x-1">
            <a href="#" class="">Tag Hotels & Resorts  </a>
            <span class="icon icon-simple-arrow-right h-4 w-4"></span>
         </li>
         <li class="flex space-x-1">
            <a href="#" class="">Table User Dashboard</a>
            <span class="icon icon-simple-arrow-right h-4 w-4"></span>
         </li>
      </ol>
   </div>
   <%= render "shared/components/team_user_info" %> 
   <%= render "shared/components/team_user_course_status" %> 
   <div class="mt-4">
      <h2 class="text-xl font-semibold">Enrolled Courses</h2>
   </div>
</main>
<% end %>