<div class="flex items-center justify-center text-medium h-[calc(100vh-400px)] px-4">
  <% if type == "search_and_tags" %>
    <span><%= t("course.no_courses_found_with_filters_and_search", search_term: params[:term]) %></span>
  <% elsif type == "search" %>
    <span><%= t("course.no_courses_with_search", search_term: params[:term]) %></span>
  <% else %>
    <span><%= t("course.no_courses_with_filter") %></span>
  <% end %>
</div>
