<%= render "shared/components/mobile_layout" do %>
  <%= render "shared/components/bread_crumbs", links: [[@course.title, nil]] %>
  <div class="flex">
    <span class="icon icon-course-teal icon-small"></span>
    <span class="ml-2 text-xs font-medium text-primary">My Courses</span>
  </div>
  <div class="my-6 rounded flex flex-col gap-4">
    <%= render "courses/course_description_card_mobile", course: @course, enrollment: @enrollment %>
    <%= render "courses/course_lessons", course: @course, enrollment: @enrollment %>
  </div>
<% end %>