<%= render "shared/components/desktop_layout" do %>
  <div class="box-shadow-medium flex flex-col rounded">
    <%= render "shared/components/course_description_card", course: @course %>
    <br/>
    <%= render "shared/components/course_lessons", course: @course, enrollment: @enrollment %>
  </div>
<% end %>