
<%= render "shared/components/layout" do %>
  <%= render 'shared/components/back_button', back_link: course_path(@course) %>
  <div class="box">
    <h1 class="page-heading-medium">Edit course</h1>
  </div>
  <%= render "form", course: @course %>
<% end %>