<div class="my-4 mx-auto w-full text-left">
  <%= render 'shared/components/back_button', back_link: course_path(@course) %>
  <div class="box">
    <h1 class="heading page-heading-medium">Edit course</h1>
  </div>
  <%= render "form", course: @course %>
</div>
