<%= render "shared/components/desktop_layout" do %>
  <div class="box">
    <%= link_to "Back", courses_path, class: "nav-link" %>
  </div>
  <div class="box">
    <h1 class="font-semibold text-xl">Create course</h1>
  </div>
  <%= render "form", course: @course %>
<% end %>