<%= render "shared/components/layout" do %>
  <%= render 'shared/components/back_button', back_link: courses_path %>

  <div class="box">
    <h1 class="page-heading-medium">Create course</h1>
  </div>
  <%= render "form", course: @course %>
<% end %>