<div class="my-6">
  <%= render "shared/components/back_button", back_link: settings_path %>
</div>

<div class="heading heading-medium">Components</div>

<ul class="my-6">
  <li><%= link_to "Typography", ui_typography_path, class: 'nav-link' %></li>
  <li><%= link_to "Buttons", ui_buttons_path, class: 'nav-link' %></li>
</ul>