@import "directives.tailwind.css";
@import "buttons.tailwind.css";
@import "typography.tailwind.css";
@import "inputs.tailwind.css";
@import "textarea.tailwind.css";

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

body {
  @apply font-roboto text-letter-color;
}

@layer components {
  .input-text {
    @apply w-full px-3 py-2 rounded border border-line-colour min-h-[48px] md:min-h-[52px] max-h-[200px] overflow-auto focus:border-primary focus:ring-0;
  }

  .input-textarea {
    @apply w-full px-3 py-2 rounded border border-line-colour focus:border-primary focus:ring-0;
  }

  .input-number {
    @apply w-full px-3 py-2 rounded border border-line-colour h-[48px] md:h-[52px] focus:border-primary focus:ring-0;
  }

  .input-check {
    @apply h-5 w-5 border text-primary border-line-colour focus:border-primary focus:ring-0;
  }

  .input-select {
    @apply w-full px-3 py-2 rounded border border-line-colour h-[48px] md:h-[52px] focus:border-primary focus:ring-0;
  }

  .input-text-otp {
    @apply h-14 rounded text-center text-xl font-semibold border-line-colour min-w-[70px] text-slate-grey-50 focus:border-primary focus:ring-0;
  }

  .label-text {
    @apply text-sm font-normal;
  }

  .heading {
    @apply !font-poppins;
  }

  .page-heading {
    @apply text-xl font-bold md:text-3xl md:font-semibold;
  }

  .page-heading-medium {
    @apply text-xl font-semibold;
  }

  .page-sub-heading {
    @apply text-base md:text-lg font-semibold;
  }

  .heading-overlay {
    @apply text-white font-bold text-xl;
  }

  .heading-medium {
    @apply text-base font-medium;
  }

  .heading-semibold {
    @apply text-base font-semibold;
  }

  .labels {
    @apply !font-poppins;
  }

  .label-small {
    @apply text-sm font-semibold;
  }

  .text-semibold {
    @apply text-base font-semibold;
  }

  .text-medium {
    @apply text-base font-medium;
  }

  .btn-primary {
    @apply rounded border px-4 text-center py-3.5 min-w-40 border-primary bg-primary text-white font-poppins;
    &:hover {
      @apply cursor-pointer opacity-95;
    }

    span {
      @apply text-xl font-semibold text-white;
    }
  }

  .btn-secondary-outline {
    @apply rounded border px-4 text-center py-3.5 min-w-40 gap-2 border-line-colour text-slate-grey-50 heading;
  }

  .btn-simple {
    @apply rounded border px-4 text-center py-3.5 min-w-40 border-line-colour text-slate-grey-50 font-poppins;
    &:hover {
      @apply cursor-pointer opacity-95;
    }
  }

  .btn-secondary {
    @apply rounded border px-4 text-center py-3.5 min-w-40 border-slate-grey-50 bg-slate-grey-50 text-white;
    &:hover {
      @apply cursor-pointer opacity-95;
    }

    span {
      @apply text-xl font-semibold text-white;
    }
  }

  .btn-default {
    @apply rounded border px-4 text-center py-3.5 min-w-40 border-line-colour bg-line-colour font-poppins;

    &:hover {
      @apply cursor-pointer opacity-95;
    }

    span {
      @apply text-base font-normal;
    }

    .icon {
      @apply mr-1;
    }
  }

  .link-text {
    @apply text-xs font-normal md:text-sm;

    &:hover {
      @apply cursor-pointer text-primary;
    }
  }

  .side-bar-item {
    @apply h-11 ps-8;

    span {
      @apply text-sm font-medium;
    }
  }

  .side-bar-item-inner:hover {
    span {
      @apply text-primary;
    }
    .icon {
      @apply bg-primary;
    }
  }

  .side-bar-item-inner {
    @apply flex  w-full h-11 flex-row items-center gap-4 font-poppins;
  }

  .side-bar-footer {
    @apply flex flex-row gap-4 items-center border-t-2 border-line-colour py-8 ps-8;
    span {
      @apply text-sm font-medium;
    }

    &:hover {
      span {
        @apply cursor-pointer text-primary bg-primary-light-50;
      }

      .icon {
        @apply bg-primary;
      }
    }
  }

  .header-nav {
    @apply h-20 flex flex-wrap items-center justify-between py-5;
  }

  .input-search {
    @apply block w-64 rounded-md border-0 py-2 pl-10 ring-1 ring-inset ring-line-colour focus:ring-primary;
  }

  .icon {
    @apply flex justify-center items-center max-h-10 bg-cover bg-no-repeat min-w-2 min-h-2 max-w-10;
  }

  .icon-tiny {
    @apply h-2 w-2;
  }

  .icon-mini {
    @apply h-3 w-3;
  }

  .icon-small {
    @apply h-4 w-4;
  }

  .icon-base {
    @apply h-6 w-6;
  }

  .icon-medium {
    @apply h-8 w-8;
  }

  .icon-large {
    @apply h-10 w-10;
  }
}

.btn-watch-demo {
  @apply flex items-center gap-2 px-3 py-2 text-white bg-black max-w-[188px] rounded-[32px] md:max-w-[296px] md:gap-5 md:px-5 md:py-3;

  &:hover {
    @apply cursor-pointer text-primary;
  }
}

.box {
  @apply my-4;
}

.nav-link {
  @apply text-xs font-normal md:text-sm font-poppins;

  &:hover {
    @apply cursor-pointer text-slate-grey-50 underline;
  }
}

.radio-check-button {
  @apply absolute right-4 top-1/2 transform -translate-y-1/2  text-primary hover:ring-white hover:border-primary focus:ring-white focus:border-primary checked:bg-primary checked:ring-white;
}

.item-selected {
  @apply bg-primary text-white;

  span {
    @apply text-white;
  }

  .icon {
    @apply bg-white;
  }
}

.item-selected:hover {
  span {
    @apply text-primary-light-50;
  }

  .icon {
    @apply bg-primary-light-50;
  }
}

details.highlighted summary {
  @apply bg-primary-light-50;
}

li.highlighted {
  @apply border border-primary-light;
}

input.tags-checkbox:checked,
input.tags-checkbox:checked:focus {
  @apply bg-slate-grey-50;
}

input.tags-checkbox:focus,
input.tags-checkbox:checked:focus {
  @apply ring-0 focus:outline-none;
}

.teams-more {
  @apply bg-white icon-medium;
}

.member-more {
  @apply bg-letter-color icon-small;
}

.teams-more-hover {
  @apply bg-black hover:bg-slate-grey-50 hover:opacity-80;
}

.heading-extra-large {
  @apply text-3xl font-semibold;
}

.heading-large {
  @apply text-2xl font-semibold;
}

.heading-medium {
  @apply text-xl font-semibold;
}

.heading-small {
  @apply text-lg font-semibold;
}

.heading-extra-small {
  @apply text-base font-semibold;
}

.title-large {
  @apply text-lg font-medium;
}

.title-medium {
  @apply text-base font-medium;
}

.title-small {
  @apply text-sm font-medium;
}

.subtitle-large {
  @apply text-lg font-normal;
}

.subtitle-medium {
  @apply text-base font-normal;
}

.subtitle-small {
  @apply text-sm font-normal;
}

.body-large {
  @apply text-lg font-normal;
}

.body-medium {
  @apply text-base font-medium;
}

.body-small {
  @apply text-base font-normal;
}

.body-extra-small-medium {
  @apply text-sm font-medium;
}

.body-extra-small-regular {
  @apply text-sm font-normal;
}

.code {
  @apply bg-black text-white p-4 overflow-x-auto;
}

