@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@layer components {
  .input-text {
    @apply w-full rounded border border-line-colour h-[52px] focus:border-primary focus:ring-0;
  }

  .input-number {
    @apply w-full rounded border border-line-colour h-[52px] focus:border-primary focus:ring-0;
  }


  .input-check {
    @apply h-5 w-5 border text-primary border-line-colour focus:border-primary focus:ring-0;
  }

  .input-text-otp {
    @apply h-14 rounded text-center text-xl font-semibold border-line-colour min-w-[70px] text-secondary focus:border-primary focus:ring-0;
  }

  .label-text {
    @apply text-sm font-normal;
  }

  .page-heading {
    @apply text-2xl font-bold md:text-3xl md:font-semibold;
  }

  .btn-primary {
    @apply rounded border px-4 text-center shadow-xl py-3.5 min-w-40 border-primary bg-primary;
    &:hover {
      @apply cursor-pointer opacity-95;
    }

    span {
      @apply text-xl font-semibold text-white
    }
  }

  .btn-default {
    @apply rounded border px-4 text-center py-3.5 min-w-40 border-line-colour bg-line-colour;

    &:hover {
      @apply cursor-pointer opacity-95;
    }

    span {
      @apply text-base font-normal;
    }

    .icon {
      @apply mr-1;
    }
  }

  .link-text {
    @apply text-xs font-normal md:text-sm;

    &:hover {
      @apply cursor-pointer text-primary;
    }
  }

  .side-bar-item {
    @apply h-11 ps-8;

    &:hover{
      @apply cursor-pointer text-primary bg-primary-light-50;
    }
    
    span {
      @apply text-sm font-medium;
    }
  }
  
  .side-bar-item-inner{
    @apply flex  w-full h-11 flex-row items-center gap-4;
  }

  .side-bar-item:focus-within {
    @apply cursor-pointer text-primary bg-primary-light-50;

    span{
      @apply cursor-pointer text-primary ;

    }
  }

  .side-bar-footer{
    @apply flex flex-row gap-4 items-center border-t-2 border-line-colour py-8 ps-8;

    &:hover{
      @apply cursor-pointer text-primary bg-primary-light-50;
    }
    
    span {
      @apply text-sm font-medium;
    }
  }

  .header-nav{
    @apply border-b-2 border-line-colour h-20 flex flex-wrap items-center justify-between py-5;
  }

  .input-search{
    @apply block w-64 rounded-md border-0 py-2 pl-10 ring-1 ring-inset ring-line-colour;
  }
  
}

.icon {
    @apply flex justify-center items-center max-h-10 bg-cover bg-no-repeat min-w-4 min-h-4 max-w-10;
}

.btn-watch-demo {
  @apply flex items-center gap-2 px-4 py-2 text-white bg-black max-w-[188px] rounded-[32px] md:max-w-[296px] md:gap-6 md:px-6;

  &:hover {
    @apply cursor-pointer text-primary;
  }
}

.icon-small { @apply h-4 w-4; }
.icon-medium { @apply h-8 w-8; }
.icon-large { @apply h-10 w-10; }


.box {
  @apply my-4;
}

.nav-link {
  @apply text-xs font-normal md:text-sm;

  &:hover {
    @apply cursor-pointer text-secondary underline;
  }
}