.course-details-box-shadow {
    box-shadow: 0px 0px 4px 0px #20202029;
}

details .icon-up,
details .icon-up-arrow-green,
details[open] .icon-down,
details[open] .icon-down-arrow-green {
  display: none;
}

details[open] .icon-up,
details[open] .icon-up-arrow-green {
    display: inline;
}
.indicator{
    width: 32px;
    height: 3px;
    background-color:#D9D9D9;

}
.indicator.active {
    background-color:#005f6b;
}

.form-radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #005f6b;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    color: white;

}
.form-radio:focus{
    box-shadow: none;   
}
.form-radio:checked {
    border: 2px solid #005f6b;
    outline: none;
}

.form-radio:checked::after{
    content: '';
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #005f6b;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form-radio:checked:focus{
    border: 2px solid #005f6b;
    box-shadow: none;
    outline:none;
   
}

.active-border {
    font-weight: 700;
    color:#005f6b;
    border-bottom: 4px solid #005f6b;

}

