.disabled {
  cursor: not-allowed !important;
  &:active,a,a *,button,button * {
    pointer-events: none;
    opacity: 0.5 !important;
  }
}


#submit-button.disabled,
button.disabled ,
a.disabled{
  opacity: 0.5 !important;
}

a.disabled {
  color: #808285;
}

.side-bar {
  inset: 0 auto 0 0;
  z-index: 51;
  height: 100vh;
  width: 16rem;
  min-width: 16rem;
  position: fixed;
}

input:-webkit-autofill {
  appearance: none !important;
  background-color: transparent !important;
  background-image: none !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: inherit !important;
}

.black-shield {
  z-index: 51;
}

.field_with_errors {
  width: 100%;
  display: contents;
}

.field_with_errors input,
.field_with_errors textarea,
.field_with_errors select {
  border-color: red;
}
