.disabled {
  cursor: not-allowed !important;
  &:active,a,a *,button,button * {
    pointer-events: none;
    opacity: 0.5 !important;
  }
}


#submit-button.disabled,
button.disabled ,
a.disabled{
  opacity: 0.5 !important;
}

a.disabled {
  color: #808285;
}

.side-bar {
  inset: 0 auto 0 0;
  z-index: 51;
  height: 100vh;
  width: 16rem;
  min-width: 16rem;
  position: fixed;
}

input:-webkit-autofill {
  appearance: none !important;
  background-color: transparent !important;
  background-image: none !important;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0) !important;
  -webkit-text-fill-color: inherit !important;
}

.black-shield {
  z-index: 51;
}

.field_with_errors {
  width: 100%;
  display: contents;
}

.field_with_errors input,
.field_with_errors textarea,
.field_with_errors select {
  border-color: red;
}

.loader {
  border: 4px solid #E6E6E6;
  border-top: 4px solid #0041B9;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



