.file-selector-component-container {
  @apply w-full flex flex-col gap-1;
}

.file-selector-component-base {
  @apply w-full border h-28 md:h-40 p-3 md:p-4 bg-white transition-all flex justify-center rounded-lg md:rounded-xl border-dashed hover:bg-primary-light-50;
}

.file-selector-is-active {
  @apply border-primary-light;
}

.file-selector-input-box {
  @apply flex w-full cursor-pointer justify-center items-center gap-4;
}

.file-selector-support-text {
  @apply flex justify-between items-start px-2 md:px-3;
}

.file-selector-upload-icon {
  @apply h-7 w-7 md:h-8 md:w-8 text-white;
}

.file-selector-close-icon {
  @apply h-4 w-4 md:w-5 md:h-5 bg-white rounded-full text-letter-color opacity-50;
}

.file-selector-preview {
  @apply relative rounded-lg h-20 w-20 md:w-32 md:h-32 bg-cover border border-line-colour;
}

.file-selector-preview-image {
  @apply h-full w-full object-cover rounded-lg;
}

.file-selector-doc-preview {
  @apply flex items-center justify-center h-full w-full;
}

.file-selector-preview-close {
  @apply absolute top-1 right-1;
}

.file-selctor-error-text {
  @apply text-danger-dark mb-1 md:mb-2;
}
