.icon-clock {
    background-image: url("/assets/clock.svg");
    background-repeat: no-repeat;
}

.icon-lessons {
    background-image: url("/assets/lessons.svg");
    background-repeat: no-repeat;
}

.icon-user {
    background-image: url("/assets/user.svg");
    background-repeat: no-repeat;
}

.icon-arrow-right {
    background-image: url("/assets/arrow_right.svg");
    background-repeat: no-repeat;
}

.icon-home {
    background-image: url("/assets/home.svg");
    background-repeat: no-repeat;
}

.icon-course {
    background-image: url("/assets/course.svg");
    background-repeat: no-repeat;
}

.icon-team {
    background-image: url("/assets/team.svg");
    background-repeat: no-repeat;
}

.icon-support {
    background-image: url("/assets/support.svg");
    background-repeat: no-repeat;
}

.icon-logout {
    background-image: url("/assets/logout.svg");
    background-repeat: no-repeat;
}

.icon-search {
    background-image: url("/assets/search.svg");
    background-repeat: no-repeat;
}

.icon-notification {
    background-image: url("/assets/notification.svg");
    background-repeat: no-repeat;
}

.icon-arrow-up {
    background-image: url("/assets/arrow_up.svg");
    background-repeat: no-repeat;
}

.icon-grid {
    background-image: url("/assets/grid.svg");
    background-repeat: no-repeat;
}

.icon-list{
    background-image: url("/assets/list.svg");
    background-repeat: no-repeat;
}

.icon-minus {
    background-image: url("/assets/minus.svg");
    background-repeat: no-repeat;
}

.icon-next{
    background-image: url("/assets/next.svg");
    background-repeat: no-repeat;
}

.icon-up{
    background-image: url("/assets/up_arrow.svg");
    background-repeat: no-repeat;
}

.icon-down{
    background-image: url("/assets/down_arrow.svg");
    background-repeat: no-repeat;
}

.icon-complete{
    background-image: url("/assets/complete.svg");
    background-repeat: no-repeat;
}

.icon-incomplete{
    background-image: url("/assets/incomplete.svg");
    background-repeat: no-repeat;
}

.icon-menu{
    background-image: url("/assets/menu.svg");
    background-repeat: no-repeat;
}

.icon-user-top {
    background-image: url("/assets/user_top.svg");
    background-repeat: no-repeat;
}

.icon-close {
    background-image: url("/assets/close.svg");
    background-repeat: no-repeat;
}

.icon-course-teal {
    background-image: url("/assets/course_teal.svg");
    background-repeat: no-repeat;
}

.icon-check {
    background-image: url("/assets/check.svg");
    background-repeat: no-repeat;
}

.icon-winner {
    background-image: url("/assets/winner.svg");
    background-repeat: no-repeat;
}

.icon-stars {
    background-image: url("/assets/stars.svg");
    background-repeat: no-repeat;
}

.icon-star-fall {
    background-image: url("/assets/star_fall.svg");
    background-repeat: no-repeat;
}

.icon-celebration {
    background-image: url("/assets/celebration.svg");
    background-repeat: no-repeat;
}

.icon-arrow-right-grey {
    background-image: url("/assets/arrow_right_gray.svg");
    background-repeat: no-repeat;
}

.icon-green-tick {
    background-image: url("/assets/green_tick.svg");
    background-repeat: no-repeat;
}

.icon-x {
    background-image: url("/assets/x.svg");
    background-repeat: no-repeat;
}

.icon-redo {
    background-image: url("/assets/redo.svg");
    background-repeat: no-repeat;
}

.icon-bell {
    background-image: url("/assets/bell.svg");
    background-repeat: no-repeat;
}

.icon-play {
    background-image: url("/assets/play_teal.svg");
    background-repeat: no-repeat;
}

.icon-logo {
    background-image: url("/assets/logo.svg");
    background-repeat: no-repeat;
}