.modal-wrapper {
  @apply fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center z-[9999];
}

.modal-container {
  @apply relative w-[300px] md:w-[400px];
}

.modal-content {
  @apply bg-white rounded-lg md:rounded-xl w-full z-[9999];
}

.modal-header {
  @apply flex items-center justify-between border-b border-line-colour-light px-7 md:px-8 py-4 md:py-5;
}

.modal-body {
  @apply px-7 md:px-8 pt-4 md:pt-5 pb-7 md:pb-8;
}

.modal-loader-container {
  @apply inset-0 z-[10000] items-center justify-center bg-white bg-opacity-60 rounded-lg;
}

.modal-loader {
  @apply w-10 h-10 rounded-full border-4 border-line-colour border-t-primary animate-spin;
}