.profile-icon-base {
  @apply  border border-line-colour bg-primary-light-50 flex items-center justify-center rounded-full text-primary;
}

.profile-icon-sm {
  @apply w-6 h-6 antialiased main-text-sm-medium; 
}

.profile-icon-md {
  @apply w-6 h-6 md:h-10 md:w-10 antialiased main-text-lg-medium;
}

.profile-icon-lg {
  @apply w-10 h-10 md:h-14 md:w-14 antialiased heading-3xl;
}
