.tooltip {
  position: absolute;
  white-space: nowrap;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  color: white;
  background-color: grey;
  border-radius: 0.25rem;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 1;
  pointer-events: none;
}

@media (max-width: 640px) {
  .tooltip {
    white-space: normal;
    width: 100%;
  }
}

.group:hover .tooltip {
  opacity: 1;
}

.tooltip::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.tooltip-top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0.5rem;
}
.tooltip-top::before {
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
  border-width: 4px 4px 0;
  border-color: grey transparent transparent;
}

.tooltip-bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0.5rem;
}
.tooltip-bottom::before {
  left: 50%;
  top: -4px;
  transform: translateX(-50%);
  border-width: 0 4px 4px;
  border-color: transparent transparent grey;
}

.tooltip-left {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 0.5rem;
}
.tooltip-left::before {
  right: -4px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 4px 0 4px 4px;
  border-color: transparent transparent transparent grey;
}

.tooltip-right {
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 0.5rem;
}
.tooltip-right::before {
  left: -4px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 4px 4px 4px 0;
  border-color: transparent grey transparent transparent;
}
