<div class="flex items-start gap-2 align-stretch">
  <%= render 'view_components/inputs/input_mobile/code', { input: } %>
  <%= render 'view_components/inputs/input_mobile/number', { input: } %>
</div>
