<div class="group">
  <label class="inline-block cursor-pointer <%= input.label_style %>">
    <span class="flex gap-3 justify-center">
      <%= render 'view_components/inputs/input_radio/radio_button', { input: } %>
    </span>
  </label>
</div>