<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>
<p>Your temporary login password is: <%= @resource.get_temp_password %></p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
