
<div style="background-color: #585563;
font-family: Arial, Helvetica, sans-serif;
color: #333333;
padding: 40px 80px;
display: flex;
align-items: center;
flex-flow: column;
justify-content: center;">
<!-- <%= image_tag "instruo.png",  alt: "Logo", class: "h-2" %> -->
<h1 style="text-align: center; color: #ffff; font-size:32px;">Course Assigned</h1>
</div>
<div style="width: 100%; background: linear-gradient(to bottom, #585563 50%, #fff 50%); padding:0 20px; margin: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif; color:#333333;">
<div style="max-width: 1000px; margin: 0 auto; padding: 30px; font-size:16px;  color: #333; background-color: #fff; border-radius: 8px; box-shadow: 0px 2px 12px 0px #33333329;">
 <p style="font-size: 16px; font-weight: 600; margin-top: 0;">New Course Assigned to You</p>
 <p style="margin-top: 32px;">Dear <span>Nithin Philp</span>,</p>
 
 <div style="margin-top: 24px; display: flex; flex-direction: column; gap: 24px;">
   <p style="margin: 0;"><span>Balu Sam David</span> has assigned the course <a href="" style="color:#3456DA ;">Basic of Hospitality to you</a> </p>      
   <p style="margin: 0;">Please log in to your account to begin the course at your earliest convenience.</p>      
 </div>
 
 <div style="margin-top: 24px; display: flex; flex-direction: column; gap: 24px;">
   <p style="margin: 0;">Best regards,</p>
   <p style="margin: 0;">Instruo</p>
 </div> 
</div>
</div>
