<div class="my-10">
  <div class="flex flex-col gap-10 py-10 items-center">
    <div>
      <p class="text-base font-bold text-center px-8">Admin views are not available on mobile devices.</p>
    </div>
    <div>
      <%= image_tag "admin_not_available.png",  alt: "useImage", class: "" %>
    </div>
    <div>
      <p class="text-base font-bold text-center px-4">Please switch to a desktop browser to access the admin pages.</p>
    </div>
  </div>
  <div class="flex justify-center my-28">
    <button class="flex justify-center gap-2 px-20 py-2 bg-primary rounded">
      <span class="text-sm text-white">Go Back</span>
    </button>
  </div>
</div>