<div class="box-shadow-medium basis-1/2 p-6">
    <div class="flex w-full flex-col">
       <div class="flex flex-row justify-between">
          <div class="flex flex-col gap-2">
             <h3 class="text-basic font-semibold">AVG Num of video assigned per user</h3>
          </div>
          <div class="">
             <span class="icon icon-maximize h-4 w-4"></span>
          </div>
       </div>
       <div class="w-full max-w-4xl bg-white py-6">                
          <%= column_chart [
             { name: "Self Enrolled", data: { "02 Aug" => 15, "03 Aug" => 30, "04 Aug" => 25, "05 Aug" => 40, "06 Aug" => 25 } }
             ], height: "200px", colors: ["#0075A4"],stacked: true, max: 100,
             library: {
                plugins: {
                   legend: { display: false } 
                 },
             scales: {
                yAxes: [{ ticks: { beginAtZero: true, max: 100 } }]
             }
             } %>
       </div>
    </div>
 </div>