<div class="w-full max-w-4xl bg-white py-6">                
    <%= column_chart [
       { name: "Self Enrolled", data: { "02 Aug" => 15, "03 Aug" => 30, "04 Aug" => 25, "05 Aug" => 40, "06 Aug" => 25,"07 Aug" => 85,"08 Aug" => 69,"09 Aug" => 55,"10 Aug" => 78,"11 Aug" => 95,"12 Aug" => 60,"13 Aug" => 52,"14 Aug" => 74,"15 Aug" => 90 } }
       ], height: "200px", colors: ["#0075A4"],stacked: true, max: 100,
       library: {
          plugins: {
             legend: { display: false } 
           },
       scales: {
          yAxes: [{ ticks: { beginAtZero: true, max: 100 } }]
       }
       } %>
 </div>