<%= link_to back_link, class: "nav-link block w-fit", aria: { label: t('back') } do %>
  <div class="flex gap-1 items-center text-primary main-text-sm-normal rounded-full border border-primary-light-100 p-1">
    <%= icon "arrow-left", css: "h-4 w-4 text-primary", stroke_width: "1.0" %>
  </div>
<% end %>