<%= link_to back_link, class: "nav-link" do %>
  <div class="flex gap-1 items-center ">
    <span class="icon icon-arrow-left bg-letter-color icon-small"></span>
    <span class="font-medium text-sm header-font">Back</span>
  </div>
<% end %>