<div class="my-4">
  <ol class="flex items-center space-x-2 text-secondary text-xs">
    <% links.each do |title, link| %>
    <li class="flex space-x-1">
      <% if link.blank? %>
        <span><%= title %></span>
      <% else %>
        <%= link_to title, link, class: "hover:pointer hover:underline hover:text-primary" %>
        <span class="icon icon-simple-arrow-right icon-small"></span>
      <% end %>
    </li>
    <% end %>
  </ol>
</div>
