<div class="">
  <ol class="flex items-center space-x-2 text-secondary text-xs">
    <li class="flex space-x-1">
      <a href="#" class="">Basic of hospitality</a>
      <span class="icon icon-simple-arrow-right h-4 w-4"></span>
    </li>
    <li class="flex space-x-1">
      <a href="#" class="">Course details</a>
      <span class="icon icon-simple-arrow-right h-4 w-4"></span>
    </li>
  </ol>
</div>
