<button class="box-shadow-medium flex items-center justify-between gap-1 rounded-sm py-1 px-4 hover:cursor-pointer">
  <span class="text-secondary text-xl font-medium"><%= label %></span>
  <span class="icon icon-small <%= icon_name %>  bg-secondary"></span>
</button>
