<button class="flex flex-row justify-center gap-2 rounded border px-4 text-center py-3.5 min-w-40 border-line-colour text-secondary heading">
  <span class="text-secondary text-sm"><%= label %></span>
</button>