<button class="flex items-center gap-1 rounded p-2 box-shadow-medium hover:cursor-pointer">
  <span class="text-sm font-medium text-primary"><%= label %></span>
  <span class="icon <%= icon_name %> icon-small"></span>
</button>