<button class="box-shadow-medium flex items-center justify-between gap-1 rounded-sm py-1 px-4 hover:cursor-pointer header-font">
  <span class="text-secondary text-base md:text-xl font-medium"><%= label %></span>
  <span class="icon h-3 w-3 md:icon-small <%= icon_name %>  bg-secondary"></span>
</button>
