<button class="box-shadow-medium flex items-center justify-between gap-1 rounded-sm py-1 px-2 hover:cursor-pointer">
  <span class="text-secondary text-xs font-medium"><%= label %></span>
  <span class="icon <%= icon_name %> h-[10px] w-[10px] bg-secondary"></span>
</button>
