<button class="box-shadow-medium flex items-center justify-between gap-1 rounded-sm py-1 px-4 hover:cursor-pointer">
  <span class="text-secondary text-xl font-medium"><%= label %></span>
  <span class="icon <%= icon_name %> h-6 w-6 bg-secondary"></span>
</button>
