<div class="file-input bg-white border border-dashed border-primary-light rounded-md p-4 text-center flex gap-4 items-center justify-center">
    <span class="icon icon-upload bg-primary icon-small"></span>
    <span class="file-label text-primary">Choose File</span>
 </div>