<div class="flex flex-col border border-b">
  <div class="bg-primary flex flex-col items-center justify-center rounded-t py-8 text-white">
    <div class="flex gap-3">
      <div class="flex flex-col gap-4">
        <span class="icon icon-stars h-6 w-6"></span>
        <span class="icon icon-star-fall h-6 w-6"></span>
      </div>
      <%= image_tag "winner_cup.png",  alt: "Superskill", class: "h-24 w-24" %>
      <div class="flex flex-col gap-4">
        <span class="icon icon-stars h-6 w-6"></span>
        <span class="icon icon-star-fall h-6 w-6"></span>
      </div>
    </div>
    <h1 class="pt-4 text-2xl font-bold text-white">Congrats</h1>
    <p class="mt-5 flex flex-col items-center text-base font-medium">
      <span class="icon icon-winner mr-2 h-6 w-6"></span>
      <span class="px-14 text-center text-sm text-white">
        You have completed the lesson on Basics of Hospitality
      </span>
    </p>
  </div>
  <div class="flex flex-col p-4">
    <h2 class="text-base font-medium">Basics of Hospitality</h2>
    <p class="text-letter-color-light text-pretty pb-6 pt-4 text-sm font-normal leading-5">
      Morem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis
      molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla
      accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.
      Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent
      taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos.
    </p>
    <div class="flex justify-end">
      <a href="#"
        class="bg-primary-light-50 text-primary hover:pointer relative right-0 flex items-center gap-1 rounded-sm px-2 py-1 text-xs font-normal tracking-tight">
        Read More
        <span class="icon icon-arrow-right h-4 w-4"></span>
      </a>
    </div>
  </div>
</div>
