
<div class="box-shadow-medium sm:m-6 flex flex-col gap-6 p-4 sm:p-6">
  <div class="flex flex-col gap-4 sm:px-4 pb-4 ">
    <div class="flex sm:flex-row flex-col gap-6 justify-between">
      <div class="flex  justify-start">
        <span class="text-primary text-base font-bold"> Module Name</span>
      </div>
      <div class="flex justify-between text-xs gap-8">
        <span class="text-primary-light bg-primary-light-50 p-1 text-center">
          Correct Answers- <span>3</span>
        </span>
        <span class="text-danger bg-danger-light p-1 text-center">
          In-correct Answers- <span>1</span>
        </span>
      </div>
    </div>    
    <ul class="mt-4 space-y-6">
      <li class="flex flex-col items-start justify-between gap-4 sm:flex-row sm:items-center sm:justify-between sm:gap-6">
        <div class="bg-primary-light-50 flex gap-1 p-6 rounded">
          <span>1.</span>
          <span>
            Which department is responsible for guest check-in and check-out in a
            hotel?
          </span>
        </div>
        <div class="border-line-colour-light flex w-full justify-between gap-6 border px-6 py-4 sm:w-1/2">
          <span>B) Front Office</span>
          <span class="icon icon-green-tick h-5 w-5"></span>
        </div>
      </li>
      <li class="flex flex-col items-start justify-between gap-4 sm:flex-row sm:items-center sm:justify-between sm:gap-6">
        <div class="bg-primary-light-50 flex gap-1 p-6 rounded">
          <span>2.</span>
          <span>
            Which department is responsible for guest check-in and check-out in a
            hotel?
          </span>
        </div>
        <div class="border-line-colour-light flex w-full justify-between gap-6 border px-6 py-4 sm:w-1/2">
          <span>B) Front Office</span>
          <span class="icon icon-x h-5 w-5"></span>
        </div>
      </li>
      <li class="flex flex-col items-start justify-between gap-4 sm:flex-row sm:items-center sm:justify-between sm:gap-6">
        <div class="bg-primary-light-50 flex gap-1 p-6 rounded">
          <span>3.</span>
          <span>
            Which department is responsible for guest check-in and check-out in a
            hotel?
          </span>
        </div>
        <div class="border-line-colour-light flex w-full justify-between gap-6 border px-6 py-4 sm:w-1/2">
          <span>B) Front Office</span>
          <span class="icon icon-green-tick h-5 w-5"></span>
        </div>
      </li>
      <li class="flex flex-col items-start justify-between gap-4 sm:flex-row sm:items-center sm:justify-between sm:gap-6">
        <div class="bg-primary-light-50 flex gap-1 p-6 rounded">
          <span>4.</span>
          <span>
            Which department is responsible for guest check-in and check-out in a
            hotel?
          </span>
        </div>
        <div class="border-line-colour-light flex w-full justify-between gap-6 border px-6 py-4 sm:w-1/2">
          <span>B) Front Office</span>
          <span class="icon icon-green-tick h-5 w-5"></span>
        </div>
      </li>
    </ul>
  </div>   
</div>
