<div class="relative rounded border w-[310px] h-[363px] hover:border-primary">
  <div class="w-full tracking-tight h-[120px] course-card-bg"></div>
  <div class="relative p-4">
    <p class="mb-2 overflow-hidden text-ellipsis text-base font-semibold text-primary max-h-[68px]">Health, Safety, and
      Security in
      Food and Beverage Service
    </p>
    <div class="flex justify-between">
      <div class="flex items-center">
        <span class="icon icon-lessons h-3.5 w-3.5"></span>
        <span class="ml-2 text-xs font-medium text-gray1">8 Lessons</span>
      </div>
      <div class="flex items-center">
        <span class="icon icon-clock h-3.5 w-3.5"></span>
        <span class="ml-2 text-xs font-medium text-gray1">1hr 10min</span>
      </div>
      <div class="flex items-center">
        <span class="icon icon-user h-3.5 w-3.5"></span>
        <span class="ml-2 text-xs font-medium text-gray1">5 Enrolled</span>
      </div>
    </div>
    <p class="mt-4 overflow-hidden text-ellipsis text-sm font-medium tracking-tight text-black0 max-h-[20px]">Course
      Description</p>
    <p class="my-3 overflow-hidden text-ellipsis text-justify text-sm tracking-tight text-gray1 max-h-[60px]">It is a
      long established fact that a reader will be distracted
      by the readable content of a page when looking at its layout. It is a long established fact that a reader will be
      distracted
      by the readable content of a page when looking at its layout.</p>
  </div>
  <a href="#" class="absolute right-4 bottom-4 flex items-center gap-1 rounded-sm px-2 py-1 text-xs font-normal tracking-tight bg-white1 text-primary hover:pointer">Show
    More<span class="h-4 w-4 icon icon-arrow-right"></span></a>
</div>