<p class="text-primary mb-1 overflow-hidden text-ellipsis text-2xl font-extrabold italic py-6">
    Basics of Hospitality
  </p>
  <div class="flex flex-row gap-6">
    <%= render "shared/components/course_quiz_box" %>
    <%= render "shared/components/course_quiz_overview" %> 
  </div>
  