<div class="py-6">
    <div class="border-borderColour rounded border mb-2">
        <div class="flex items-center justify-between p-4">
          <h2 class="flex flex-col justify-start text-base font-semibold">
            <span class="">Attributes of Food and Beverages Staff</span>
            <span class="text-primary">(12 Lessons)</span>
          </h2>
          <span class="icon icon-down h-4 w-4"></span>
        </div>
      </div>
      
      <div class="border-borderColour rounded border mb-2">
        <div class="flex items-center justify-between p-4">
          <h2 class="flex flex-col justify-start text-base font-semibold">
            <span class=""> Food and Beverage Service Conventions</span>
            <span class="text-primary">(9 Lessons)</span>
          </h2>
          <span class="icon icon-down h-4 w-4"></span>
        </div>
      </div>
      
      <div class="border-borderColour rounded border mb-2">
        <div class="flex items-center justify-between p-4">
          <h2 class="flex flex-col justify-start text-base font-semibold">
            <span class="">
                Standard Sequence of Food and Beverages Services
            </span>
            <span class="text-primary">(12 Lessons)</span>
          </h2>
          <span class="icon icon-down h-4 w-4"></span>
        </div>
      </div>
      
      <div class="border-borderColour rounded border mb-2">
        <div class="flex items-center justify-between p-4">
          <h2 class="flex flex-col justify-start text-base font-semibold">
            <span class="">Dealing with Different Types of Guests</span>
            <span class="text-primary">(6 Lessons)</span>
          </h2>
          <span class="icon icon-down h-4 w-4"></span>
        </div>
      </div>
      
      <div class="border-borderColour rounded border mb-2">
        <div class="flex items-center justify-between p-4">
          <h2 class="flex flex-col justify-start text-base font-semibold">
            <span class="">Guests with Additional Needs</span>
            <span class="text-primary">(3 Lessons)</span>
          </h2>
          <span class="icon icon-down h-4 w-4"></span>
        </div>
      </div>
      
      <div class="border-borderColour rounded border mb-2">
        <div class="flex items-center justify-between p-4">
          <h2 class="flex flex-col justify-start text-base font-semibold">
            <span class="">Basic Technical Food and Beverages Skills</span>
            <span class="text-primary">(5 Lessons)</span>
          </h2>
          <span class="icon icon-down h-4 w-4"></span>
        </div>
      </div>
      
      <div class="border-borderColour rounded border mb-2">
        <div class="flex items-center justify-between p-4">
          <h2 class="flex flex-col justify-start text-base font-semibold">
            <span class="">
              Health,Safety, and Security in Food and Beverages Service
              Establishments</span>
            <span class="text-primary">(4 Lessons)</span>
          </h2>
          <span class="icon icon-down h-4 w-4"></span>
        </div>
      </div>
</div>

  