<p class="text-primary mb-1 overflow-hidden text-ellipsis text-base font-bold italic py-6">
    Basics of Hospitality
  </p>
  <div class="flex flex-col">
    <%= render "shared/components/course_video_frame_mobile" %>
    <%= render "shared/components/course_video_play_list_mobile" %> 
  </div>