<details class="border-gray3 border-b border-t">
  <summary class="flex cursor-pointer items-center justify-between p-4">
    <h2 class="flex flex-col justify-start text-base font-semibold">
      <span class="text-black0">Basics Of Hospitality</span>
      <span class="text-primary">(1/8 Lessons)</span>
    </h2>
    <span class="icon-down h-4 w-4"></span>
    <span class="icon-up hidden h-4 w-4"></span>
  </summary>
  <ul>
    <li class="flex items-center justify-between border-t px-4 py-4 text-sm">
      <div class="flex items-center gap-4">
        <span class="icon bg-primary3 border-gray6 icon-complete h-5 w-5 items-center border"></span>
        <span>Etiquette and Manners</span>
      </div>
      <span class="text-primary">Replay</span>
    </li>
    <li class="flex items-center justify-between border-t px-4 py-4 text-sm">
      <div class="flex items-center gap-4">
        <span class="icon bg-sandle border-gray6 icon-incomplete h-5 w-5 items-center border"></span>
        <span>Grooming and Hygiene</span>
        <div class="flex flex-col items-center gap-1 pl-2">
          <span class="text-gray5 text-sm font-semibold">16%</span>
          <div class="bg-primary2 h-1 w-7 rounded-full">
            <div class="bg-gray5 h-1 rounded-full" style="width: 16%"></div>
          </div>
        </div>
      </div>
      <span class="icon icon-play h-4 w-4"></span>
    </li>
    <li class="flex items-center justify-between border-t px-4 py-4 text-sm">
      <span>Guest Relations</span>
      <span class="icon icon-play h-4 w-4"></span>
    </li>
    <li class="flex items-center justify-between border-t px-4 py-4 text-sm">
      <span>Effective Communication</span>
      <span class="icon icon-play h-4 w-4"></span>
    </li>
    <li class="flex items-center justify-between border-t px-4 py-4 text-sm">
      <span>Body Language</span>
      <span class="icon icon-play h-4 w-4"></span>
    </li>
    <li class="flex items-center justify-between border-t px-4 py-4 text-sm">
      <span>Handling Guest Complaints</span>
      <span class="icon icon-play h-4 w-4"></span>
    </li>
    <li class="flex items-center justify-between border-t px-4 py-4 text-sm">
      <span>Suggestive Selling and Upselling</span>
      <span class="icon icon-play h-4 w-4"></span>
    </li>
    <li class="flex items-center justify-between border-t px-4 py-4 text-sm">
      <span>Telephone etiquette</span>
      <span class="icon icon-play h-4 w-4"></span>
    </li>
  </ul>
</details>

<div class="border-gray3 border-b">
  <div class="flex items-center justify-between p-4">
    <h2 class="flex flex-col justify-start text-base font-semibold">
      <span class="text-black0">Attributes of Food and Beverages Staff</span>
      <span class="text-primary">(12 Lessons)</span>
    </h2>
    <span class="icon icon-down h-4 w-4"></span>
  </div>
</div>

<div class="border-gray3 border-b">
  <div class="flex items-center justify-between p-4">
    <h2 class="flex flex-col justify-start text-base font-semibold">
      <span class="text-black0"> Food and Beverage Service Conventions</span>
      <span class="text-primary">(9 Lessons)</span>
    </h2>
    <span class="icon icon-down h-4 w-4"></span>
  </div>
</div>

<div class="border-gray3 border-b">
  <div class="flex items-center justify-between p-4">
    <h2 class="flex flex-col justify-start text-base font-semibold">
      <span class="text-black0"
        >Standard Sequence of Food and Beverages Services</span
      >
      <span class="text-primary">(12 Lessons)</span>
    </h2>
    <span class="icon icon-down h-4 w-4"></span>
  </div>
</div>

<div class="border-gray3 border-b">
  <div class="flex items-center justify-between p-4">
    <h2 class="flex flex-col justify-start text-base font-semibold">
      <span class="text-black0">Dealing with Different Types of Guests</span>
      <span class="text-primary">(6 Lessons)</span>
    </h2>
    <span class="icon icon-down h-4 w-4"></span>
  </div>
</div>

<div class="border-gray3 border-b">
  <div class="flex items-center justify-between p-4">
    <h2 class="flex flex-col justify-start text-base font-semibold">
      <span class="text-black0">Guests with Additional Needs</span>
      <span class="text-primary">(3 Lessons)</span>
    </h2>
    <span class="icon icon-down h-4 w-4"></span>
  </div>
</div>

<div class="border-gray3 border-b">
  <div class="flex items-center justify-between p-4">
    <h2 class="flex flex-col justify-start text-base font-semibold">
      <span class="text-black0">Basic Technical Food and Beverages Skills</span>
      <span class="text-primary">(5 Lessons)</span>
    </h2>
    <span class="icon icon-down h-4 w-4"></span>
  </div>
</div>

<div class="border-gray3 border-b">
  <div class="flex items-center justify-between p-4">
    <h2 class="flex flex-col justify-start text-base font-semibold">
      <span class="text-black0">
        Health,Safety, and Security in Food and Beverages Service
        Establishments</span
      >
      <span class="text-primary">(4 Lessons)</span>
    </h2>
    <span class="icon icon-down h-4 w-4"></span>
  </div>
</div>
