<div class="border-line-colour flex flex-row border-b px-6 pt-6">
  <div class="course-card-bg h-[208px] min-w-[140px] rounded border"></div>
  <div class="flex flex-col px-4 pt-2">
    <p class="text-primary mb-4 overflow-hidden text-ellipsis text-2xl font-extrabold italic">
      Basics of Hospitality
    </p>
    <div class="mb-5 flex justify-between space-x-2">
      <div class="flex justify-between space-x-4">
        <div class="flex items-center">
          <span class="icon icon-lessons h-3.5 w-3.5"></span>
          <span class="ml-2 text-xs font-medium">8 Lessons</span>
        </div>
        <div class="flex items-center">
          <span class="icon icon-clock h-3.5 w-3.5"></span>
          <span class="ml-2 text-xs font-medium">1hr 10min</span>
        </div>
        <div class="flex items-center">
          <span class="icon icon-user h-3.5 w-3.5"></span>
          <span class="ml-2 text-xs font-medium">5 Enrolled</span>
        </div>
      </div>
      <button class="bg-primary-light-50 flex items-center justify-center rounded p-2">
        <span class="text-primary text-xs">Show Less</span>
        <span class="icon icon-arrow-up h-4 w-4 items-center"></span>
      </button>
    </div>
    <p class="mb-3 max-h-[20px] overflow-hidden text-ellipsis text-sm font-medium tracking-tight">
      Course Description
    </p>
    <p class="text-letter-color-light bg-primary-light-50 max-h-[100px] overflow-hidden text-ellipsis p-4 text-justify text-sm tracking-tight">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout. It is a long
      established fact that a reader will be distracted by the readable content
      of a page when looking at its layout.
    </p>
    <div class="flex justify-end gap-4 py-6">
      <button class="border-gary1 flex items-center gap-2 rounded border p-1 px-3">
        <span class="icon icon-minus h-4 w-4 items-center"></span>
        <span class="text-secondary text-xs">Drop</span>
      </button>
      <button class="bg-primary flex items-center gap-2 rounded p-1 px-3">
        <span class="text-xs text-white">Proceed</span>
        <span class="icon icon-next h-4 w-4 items-center"></span>
      </button>
    </div>
  </div>
</div>
