<div class="box-shadow-medium basis-1/2 p-6">
    <div class="flex w-full flex-col gap-2">
       <div class="flex flex-row justify-between">
          <div class="flex flex-col gap-2">
             <h3 class="text-basic font-semibold">Course Watch time</h3>
             <div class="flex items-center space-x-6">
                <div class="flex items-center space-x-2">
                   <span class="h-2 w-2 bg-[#0075A4]"></span>
                   <span class="text-xs font-medium">Total Watch time</span>
                </div>
                <div class="flex items-center space-x-2">
                   <span class="bg-primary h-2 w-2"></span>
                   <span class="text-xs font-medium">AVG Watch time</span>
                </div>
             </div>
          </div>
          <div class="">
             <span class="icon icon-maximize h-4 w-4"></span>
          </div>
       </div>
       <div class="flex flex-row items-center justify-between">
          <div class="mt-4">
             <span class="text-primary text-4xl font-semibold">7.8hr</span>
             <span class="text-2xl font-light text-[#0075A4]">/12hr</span>
          </div>
          <div
             class="relative h-48 w-48 rounded-full"
             style="background: conic-gradient(#0075a4 0% 26%, #00b48d 26% 100%)">
             <div class="absolute inset-0 flex items-center justify-center">
                <div
                   class="flex h-32 w-32 items-center justify-center rounded-full bg-white">
                   <span class="text-center text-lg font-semibold text-primary">74%<br />Completed</span>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>