<div class="basis-3/5">
  <div class="border-line-colour-light rounded border p-2 xl:h-[226px]">
    <iframe
      class="h-full w-full rounded"
      src="https://www.youtube.com/embed/oZoBuDsb7vA?autoplay=1"
      title="Taj Mahal Video Player"
      frameborder="0"
      allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>
  </div>
  <div class="flex justify-end">
    <details class="p-4">
      <summary class="flex cursor-pointer items-center justify-between select_language bg-slate-grey-light p-[10px]">
        <h2 class="flex flex-col justify-start text-base pe-1">
          <span class="text-primary">Change Language</span>
        </h2>
        <span class="icon-down h-4 w-4"></span>
        <span class="icon-up hidden h-4 w-4"></span>
      </summary>      
      <ul class="absolute bg-white border border-line-colour-light mt-2 rounded-lg edit-box-shadow  w-[178px]">
        <li><a href="#" class="block p-4 text-letter-color-light text-sm border border-b bg-slate-grey-light">English</a></li>
        <li><a href="#" class="block p-4 text-letter-color-light text-sm border border-b bg-slate-grey-light">Hindi</a></li>
        <li><a href="#" class="block p-4 text-letter-color-light text-sm border border-b bg-slate-grey-light">Telugu</a></li>
        <li><a href="#" class="block p-4 text-letter-color-light text-sm border border-b bg-slate-grey-light">tamil</a></li>
        <li><a href="#" class="block p-4 text-letter-color-light text-sm border border-b bg-slate-grey-light">Malayalam</a></li>
      </ul>
  </details>
  </div>
  <div class="bg-primary-light-50 mt-2 flex flex-col gap-4 p-6">
    <p class="overflow-hidden text-ellipsis text-xl font-semibold">
      Lesson 1, Basics of Hospitality
    </p>
    <p class="flex gap-2 overflow-hidden text-sm">
      <span class="icon icon-play h-5 w-5"></span>
      <span>2. Grooming and Hygiene </span>
    </p>
  </div>
  <div class="flex justify-end gap-4 py-8">
    <button class="border-primary rounded border px-4 py-2">
      <span class="text-primary text-xs">Previous</span>
    </button>
    <button class="bg-primary flex items-center gap-2 rounded px-4 py-2">
      <span class="text-xs text-white">Complete & Continue</span>
      <span class="icon icon-next h-4 w-4 items-center"></span>
    </button>
  </div>
</div>
