<div class="bg-secondary m-4 flex flex-col justify-between gap-4 rounded p-4 pb-7">
  <div class="relative flex justify-between pt-4">
    <span class="icon icon-celebration left-0 top-8 h-6 w-6"></span>
    <div class="border-slate-grey flex h-[172px] w-[172px] items-center rounded-full border-8 bg-white">
      <div class="border-slate-grey-light flex h-[156px] w-[156px] flex-col items-center rounded-full border-8 bg-white px-6 py-8">
        <span class="text-sm">Your Score</span>
        <span class="text-5xl font-bold">5/10</span>
      </div>
    </div>
    <span class="icon icon-celebration right-0 top-8 h-6 w-6 scale-x-[-1]">
    </span>
  </div>
  <div class="">
    <h2 class="text-center">
      <span class="text-gold text-center text-xl font-extrabold">
        You have earned 20 coins in this module.
      </span>
      <span class="inline-block pt-4 text-xs text-white">
        ( Half Away the course )
      </span>
    </h2>
    <div class="mt-10 flex flex-col text-center">
      <span class="text-xs text-white">
        Enhance your score by retaking the quiz
      </span>
      <div class="mt-6 flex justify-center">
        <a href="#"
          class="bg-white text-secondary hover:pointer relative right-0 flex items-center gap-2 rounded p-4 px-4 text-xl font-semibold tracking-tight">
          Retry Quiz
          <span class="icon icon-arrow-right-grey h-6 w-6"></span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-col gap-4 px-4 pb-4">
  <div class="flex justify-between">
    <span class="text-primary text-sm font-bold"> Module 1</span>
    <span class="text-secondary text-sm"> 4 Quiz submitted</span>
  </div>
  <div class="flex justify-between text-xs">
    <span class="text-primary-light bg-primary-light-50 p-1 text-center">
      Correct Answers- <span>3</span>
    </span>
    <span class="text-danger bg-danger-light p-1 text-center">
      In-correct Answers- <span>1</span>
    </span>
  </div>
  <ul class="mt-4 space-y-6">
    <li class="flex flex-col items-start justify-between gap-4">
      <div class="bg-primary-light-50 flex gap-1 p-4">
        <span>1.</span>
        <span>
          Which department is responsible for guest check-in and check-out in a
          hotel?
        </span>
      </div>
      <div class="border-line-colour-light flex w-full justify-between gap-6 border px-6 py-4">
        <span>B) Front Office</span>
        <span class="icon icon-green-tick h-5 w-5"></span>
      </div>
    </li>
    <li class="flex flex-col items-start justify-between gap-4">
      <div class="bg-primary-light-50 flex gap-1 p-4">
        <span>2.</span>
        <span>
          Which department is responsible for guest check-in and check-out in a
          hotel?
        </span>
      </div>
      <div class="border-line-colour-light flex w-full justify-between gap-6 border px-6 py-4">
        <span>B) Front Office</span>
        <span class="icon icon-x h-5 w-5"></span>
      </div>
      <div class="flex w-full justify-end gap-3">
        <span class="icon icon-redo h-5 w-5"></span>
        <span class="text-purple0 text-sm">Review the lessons again</span>
      </div>
    </li>
    <li class="flex flex-col items-start justify-between gap-4">
      <div class="bg-primary-light-50 flex gap-1 p-4">
        <span>3.</span>
        <span>
          Which department is responsible for guest check-in and check-out in a
          hotel?
        </span>
      </div>
      <div class="border-line-colour-light flex w-full justify-between gap-6 border px-6 py-4">
        <span>B) Front Office</span>
        <span class="icon icon-green-tick h-5 w-5"></span>
      </div>
    </li>
    <li class="flex flex-col items-start justify-between gap-4">
      <div class="bg-primary-light-50 flex gap-1 p-4">
        <span>4.</span>
        <span>
          Which department is responsible for guest check-in and check-out in a
          hotel?
        </span>
      </div>
      <div class="border-line-colour-light flex w-full justify-between gap-6 border px-6 py-4">
        <span>B) Front Office</span>
        <span class="icon icon-green-tick h-5 w-5"></span>
      </div>
    </li>
  </ul>
</div>
