<div class="flex flex-col border-b border-borderColour pb-6">
    <div class="border-borderColourLight rounded border p-2 xl:h-[175px]">
        <iframe
          class="h-full w-full rounded"
          src="https://www.youtube.com/embed/oZoBuDsb7vA?autoplay=1"
          title="Taj Mahal Video Player"
          frameborder="0"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
      </div>

      <div class="flex w-full">
        <details class="p-4 flex justify-between w-full">
          <summary class="flex cursor-pointer items-center justify-between select_language bg-slateGrey50 p-[10px]">
            <h2 class="flex flex-col justify-start text-base pe-1">
              <span class="text-primary">Change Language</span>
            </h2>
            <span class="icon-down h-4 w-4"></span>
            <span class="icon-up hidden h-4 w-4"></span>
          </summary>      
          <ul class=" mt-2 rounded edit-box-shadow">
            <li><a href="#" class="block p-4 text-textLight text-sm border border-b bg-slateGrey50">English</a></li>
            <li><a href="#" class="block p-4 text-textLight text-sm border border-b bg-slateGrey50">Hindi</a></li>
            <li><a href="#" class="block p-4 text-textLight text-sm border border-b bg-slateGrey50">Telugu</a></li>
            <li><a href="#" class="block p-4 text-textLight text-sm border border-b bg-slateGrey50">tamil</a></li>
            <li><a href="#" class="block p-4 text-textLight text-sm border border-b bg-slateGrey50">Malayalam</a></li>
          </ul>
      </details>
      </div>
      <div class="bg-primaryLight50 mt-4 flex flex-col gap-2 p-4">
        <p class="overflow-hidden text-ellipsis text-base font-semibold">
          Lesson 1, Basics of Hospitality
        </p>
        <p class="flex gap-2 overflow-hidden text-sm">
          <span class="icon icon-play h-5 w-5"></span>
          <span>2. Grooming and Hygiene </span>
        </p>
      </div>
      <div class="flex justify-center gap-6 pt-6">
        <button class="border-primary rounded border p-2">
          <span class="text-primary text-sm">Previous</span>
        </button>
        <button class="bg-primary flex items-center gap-2 rounded py-2 px-4">
          <span class="text-sm text-white">Complete & Continue</span>
          <span class="icon icon-next h-4 w-4 items-center"></span>
        </button>
      </div>
</div>