<div class="bg-secondary m-6 flex flex-row justify-between gap-2 rounded p-8">
  <div class="ps-8">
    <h2 class="">
      <span class="text-gold text-xl font-extrabold">
        You have earned 20 coins in this module.
      </span>
      <span class="ms-4 inline-block text-xs text-white">
        ( Half Away the course )
      </span>
    </h2>
    <div class="mt-12 flex flex-col">
      <span class="text-sm text-white">
        Enhance your score by retaking the quiz
      </span>
      <div class="mt-4 flex justify-start">
        <a
          href="#"
          class="bg-white text-secondary hover:pointer relative right-0 flex items-center gap-2 rounded p-4 px-2 text-xl font-semibold tracking-tight">
          Retry Quiz
          <span class="icon icon-arrow-right-grey h-6 w-6"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="relative flex justify-between">
    <span class="icon icon-celebration left-0 top-8 h-6 w-6"></span>
    <div
      class="border-slate-grey flex h-[172px] w-[172px] items-center rounded-full border-8 bg-white">
      <div
        class="border-slate-grey-light flex h-[156px] w-[156px] flex-col items-center rounded-full border-8 bg-white px-6 py-8">
        <span class="text-sm">Your Score</span>
        <span class="text-5xl font-bold">5/10</span>
      </div>
    </div>
    <span class="icon icon-celebration right-0 top-8 h-6 w-6 scale-x-[-1]">
    </span>
  </div>
</div>
<div class="course-details-box-shadow mx-6 mb-6 flex flex-col gap-6 p-6">
  <table class="w-full table-auto border-separate border-spacing-6">
    <thead>
      <tr>
        <th class="pb-6 text-start">
          <h2 class="flex flex-col gap-6">
            <span class="text-primary text-base font-bold"> Module 1</span>
            <span class="text-secondary text-sm"> 4 Quiz submitted</span>
          </h2>
        </th>
        <th class="px-6 pb-6">
          <h2 class="flex gap-10 pt-10 text-sm">
            <span class="text-primary-light"> Correct Answers- <span>3</span></span>
            <span class="text-danger"> In-correct Answers- <span>1</span></span>
          </h2>
        </th>
      </tr>
    </thead>
    <tbody class="mt-6 space-y-4">
      <tr class="">
        <td class="bg-primary-light-50 my-3 p-6">
          <label class="flex gap-1">
            <span>1.</span>
            <span>
              Which department is responsible for guest check-in and check-out
              in a hotel?
            </span>
          </label>
        </td>
        <td class="my-3 items-center p-6">
          <div class="border-line-colour-light flex justify-between gap-6 border px-6 py-4">
            <span>B) Front Office</span>
            <span class="icon icon-green-tick h-5 w-5"></span>
          </div>
        </td>
      </tr>
      <tr class="">
        <td class="bg-primary-light-50 my-3 p-6">
          <label class="flex gap-1">
            <span>2.</span>
            <span>
              Which department is responsible for guest check-in and check-out
              in a hotel?
            </span>
          </label>
        </td>
        <td class="my-3 items-center px-6 pt-6">
          <div class="border-line-colour-light flex justify-between gap-6 border px-6 py-4">
            <span>B) Front Office</span>
            <span class="icon icon-x h-5 w-5"></span>
          </div>
          <label for="" class="flex items-center gap-3 pt-5">
            <span class="icon icon-redo h-5 w-5"></span>
            <span class="text-purple0 text-sm">Review the lessons again</span>
          </label>
        </td>
      </tr>
      <tr class="">
        <td class="bg-primary-light-50 my-3 p-6">
          <label class="flex gap-1">
            <span>3.</span>
            <span>
              Which department is responsible for guest check-in and check-out
              in a hotel?
            </span>
          </label>
        </td>
        <td class="my-3 items-center p-6">
          <div class="border-line-colour-light flex justify-between gap-6 border px-6 py-4">
            <span>B) Front Office</span>
            <span class="icon icon-green-tick h-5 w-5"></span>
          </div>
        </td>
      </tr>
      <tr class="">
        <td class="bg-primary-light-50 my-3 p-6">
          <label class="flex gap-1">
            <span>4.</span>
            <span>
              Which department is responsible for guest check-in and check-out
              in a hotel?</span>
          </label>
        </td>
        <td class="my-3 items-center p-6">
          <div class="border-line-colour-light flex justify-between gap-6 border px-6 py-4">
            <span>B) Front Office</span>
            <span class="icon icon-green-tick h-5 w-5"></span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
