<div class="bg-black h-screen rounded bg-opacity-90 px-4 py-8">
  <div class="border-borderColourLight flex flex-col rounded border bg-white">
    <div class="flex items-center justify-between border-b p-6">
      <span class="text-secondary text-base font-semibold">Quiz</span>
      <span class="icon icon-close h-4 w-4"></span>
    </div>
    <div class="border-borderColourLight w-full border border-b py-6">
      <div class="flex justify-center gap-4">
        <div class="indicator active"></div>
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="indicator"></div>
      </div>
      <h2 class="flex items-center justify-center pt-4 text-base font-medium">
        1/5 Questions
      </h2>
      <div class="carousel-container border-borderColourLight m-6 rounded border">
        <h2 class="bg-primaryLight50 p-6 text-base font-medium">
          1. <span></span> Which department is responsible for guest check-in
          and check-out in a hotel?
        </h2>
        <div class="carousel-item active pt-6">
          <form>
            <ul class="flex flex-col gap-2">
              <li class="border-borderColourLight border p-6">
                <label class="flex items-center justify-between">
                  <span>A) Housekeeping</span>
                  <input type="radio" name="question1" class="form-radio" />
                </label>
              </li>
              <li class="border-borderColourLight border p-6">
                <label class="flex items-center justify-between">
                  <span>B) Front Office</span>
                  <input type="radio" name="question1" class="form-radio" />
                </label>
              </li>
              <li class="border-borderColourLight border p-6">
                <label class="flex items-center justify-between">
                  <span>C) Food and Beverage</span>
                  <input type="radio" name="question1" class="form-radio" />
                </label>
              </li>
              <li class="border-borderColourLight border p-6">
                <label class="flex items-center justify-between">
                  <span>D) Maintenance</span>
                  <input type="radio" name="question1" class="form-radio" />
                </label>
              </li>
            </ul>
          </form>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <button class="bg-primary rounded px-20 py-2 text-sm text-white">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
