<%= desktop_view do %>
  <div class="flex">
    <%= render "shared/components/sidebar_desktop" %>

    <div class="w-full">
      <%= render "shared/components/navbar_desktop" %>
      <main class="m-8">
        <%= yield %>
      </main>
    </div>
  </div>
<% end %>
