<div data-controller="forms" class="inline-block w-full">
  <div class="flex w-full cursor-pointer justify-center gap-4 rounded border border-dashed p-4 border-primary" data-action="click->forms#chooseFile">
    <span class="icon icon-upload icon-small"></span>
    <p class="text-sm text-primary">Choose file</p>
  </div>
  <% if local_assigns[:hidden_file_field].present? %>
    <%= hidden_file_field %>
  <% else %>
    <input type="file" class="hidden" data-forms-target="fileInput"/>
  <% end %>
  <label class="inline-block max-w-xs overflow-hidden overflow-ellipsis whitespace-nowrap text-xs text-letter-color-light mt-2" data-forms-target="selectedFileName">No
    file chosen</label>
  <% if local_assigns[:preview] == "logo" %>
    <div class="relative mt-4 hidden" data-forms-target="previewContainer">
      <img data-forms-target="preview" class="h-24 w-24 rounded-md border border-gray-200 object-cover" alt="Preview"/>
      <button type="button"
              data-action="click->forms#resetInput"
        class="absolute top-2 left-2 border rounded-full">
        <span class="icon icon-close icon-small"></span>
      </button>
    </div>
  <% elsif local_assigns[:preview] == "banner" %>
    <div class="relative mt-4 hidden" data-forms-target="previewContainer">
      <img data-forms-target="preview" class="h-32 w-full rounded-md border border-gray-200 object-cover" alt="Preview"/>
      <button type="button"
              data-action="click->forms#resetInput"
        class="absolute top-2 left-2 border rounded-full">
        <span class="icon icon-close icon-small"></span>
      </button>
    </div>
  <% end %>
</div>