<div data-controller="forms" class="inline-block w-full">
  <div class="flex gap-4 justify-center p-4 w-full border border-dashed border-primary rounded cursor-pointer" data-action="click->forms#chooseFile">
     <span class="icon icon-upload icon-small"></span>
     <p class="text-sm text-primary">Choose file</p>
  </div>
  <% if hidden_file_field.present? %>
  <%= hidden_file_field %>
  <% else %>
  <input type="file" class="hidden" data-forms-target="fileInput"  />
  <% end %>
  <label class="text-sm text-line-colour inline-block max-w-xs overflow-hidden whitespace-nowrap overflow-ellipsis" data-forms-target="selectedFileName">No file chosen</label>
  <% if preview == "logo" %>
  <div class="relative mt-4 hidden" data-forms-target="previewContainer">
     <img data-forms-target="preview" class="w-24 h-24 object-cover border border-gray-200 rounded-md" alt="Preview" />
     <button type="button"
        data-action="click->forms#resetInput"
        class="absolute top-0">
     <span class="icon icon-close icon-small"></span>
     </button>
  </div>
  <% elsif preview == "banner" %> 
  <div class="relative mt-4 hidden" data-forms-target="previewContainer">
     <img data-forms-target="preview" class="w-full h-32 object-cover border border-gray-200 rounded-md" alt="Preview" />
     <button type="button"
        data-action="click->forms#resetInput"
        class="absolute top-0">
     <span class="icon icon-close icon-small"></span>
     </button>
  </div>
  <% end %>
</div>