<aside class="bg-white1 sticky top-0 flex h-screen min-w-64 flex-col">
  <div class="h-full pt-8">
    <%= image_tag "superskill_logo_teal.png",  alt: "Superskill", class: "h-6 pe-24 ps-8" %>
    <div class="flex h-full flex-col justify-between pt-14">
      <ul class="flex flex-col gap-3">
        <li class="side-bar-item">
          <button class="side-bar-item-inner">
            <span class="icon icon-home h-4 w-4"></span>
            <span class="">Home</span>
          </button>
        </li>
        <li class="side-bar-item">
          <button class="side-bar-item-inner">
            <span class="icon icon-course h-4 w-4"></span>
            <span class="">My Course</span>
          </button>
        </li>
        <li class="side-bar-item">
          <button class="side-bar-item-inner">
            <span class="icon icon-team h-4 w-4"></span>
            <span class="">Team</span>
          </button>
        </li>
        <li class="side-bar-item">
          <button class="side-bar-item-inner">
            <span class="icon icon-support h-4 w-4"></span>
            <span class="">Support</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <footer class="side-bar-footer">
    <span class="icon icon-logout h-4 w-4"></span>
    <span class="">Logout</span>
  </footer>
</aside>
