<div id="flash" class="flex justify-end me-4 mt-4">
  <% flash.each do |flash_type, message| %>
    <% if flash_type == "success" %>
      <div class="md:top-24 md:right-20 md:left-auto">
        <%= render "shared/components/notice_success", message: message %>
      </div>
    <% elsif flash_type == "error" %>
      <div class="md:top-24 md:right-20 md:left-auto">
        <%= render "shared/components/notice_error", message: message %>
      </div>
    <% else %>
      <div class="md:top-24 md:right-20 md:left-auto">
        <%= render "shared/components/notice", message: message %>
      </div>
    <% end %>
  <% end %>
</div>
