  <% if resource.errors.any? %>
  <div id="modal-flash">
    <div>
      <ul>
        <% resource.errors.each do |error| %>
          <li class="text-danger"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
