<button class="flex items-center gap-2 rounded py-1 px-3 bg-primary border border-primary">
  <% if local_assigns[:icon_right] %>
    <span class="text-sm leading-6 text-white"><%= label %></span>
    <span class="icon <%= icon_name %> icon-small"></span>
  <% else %>
    <span class="icon <%= icon_name %> icon-small"></span>
    <span class="text-sm leading-6 text-white"><%= label %></span>
  <% end %>
</button>