<button class="flex items-center gap-2 rounded px-4 py-2 bg-primary border border-primary">
  <span class="icon <%= icon_name %> bg-white icon-small"></span>
  <% if local_assigns[:label] %>
    <span class="text-sm text-white"><%= label %></span>
  <% end %>
</button>
