<button class="bg-secondary flex items-center gap-2 rounded px-4 py-2">
  <span class="icon <%= icon_name %> bg-white icon-small"></span>
  <span class="text-sm text-white"><%= label %></span>
</button>