<div class="inline-flex items-center justify-center gap-1 rounded-sm border p-1 bg-gold-light border-gold">
  <span class="icon <%= icon_name %> h-[10px] w-[10px]"></span>
  <span class="text-xs"><%= label %></span>
</div>