<div class="inline-flex justify-center gap-1 rounded-sm border p-1 bg-primary-light-50 border-primary-light">
  <span class="icon <%= icon_name %> h-[10px] w-[10px]"></span>
  <span class="text-xs text-primary"><%= label %></span>
</div>