<div class="flex items-center bg-primary-light-50 gap-1 border border-primary-light px-1 rounded-sm">
  <span class="icon <%= icon_name %> icon-tiny bg-primary"></span>
  <span class="text-primary-light text-[8px]"><%= label %></span>
</div>
