<div class="flex">
  <%= render 'shared/components/sidebar' %>
  <div class="flex flex-col w-full min-h-screen">
    <%= render 'shared/components/navbar' %>
    <main class="flex flex-col p-8 max-w-[1280px] min-w-screen w-full mx-auto pt-8">
      <%= yield %>
    </main>
  </div>
</div>
