<%= mobile_view do %>
<div class="flex flex-col sticky top-0 bg-white">
  <%= render "shared/components/side_bar_mobile" %>
  <%= render "shared/components/navbar_mobile" %>
</div>
<main class="p-4 flex flex-col ">
  <%= yield %>
</main>
<% end %>
