<div class="relative mt-1">
  <label class="flex items-center cursor-pointer rounded-lg bg-line-colour" data-action="click->team-user-status#toggleDropdown">
    <span class="icon icon-more-vertical icon-small"></span>
  </label>
  <div class="absolute bg-white rounded box-shadow-medium hidden mt-3 -ml-20 z-10" data-team-user-status-target="deactivateMenu">
    <button
      class="text-xs cursor-pointer px-4 py-2 hover:bg-gray-100"
      data-action="click->team-user-status#showConfirmation"
      data-user-status-confirmation-target="deactivateMenu"
      data-activate="false">
      Deactivate
    </button>
  </div>
</div>
