<nav class="p-4 h-[112px] header-nav box-shadow-high flex items-center justify-between w-full gap-4 ">
    <div class="flex flex-row justify-between items-center w-full">
        <label for="sidebar-toggle" class="flex items-center cursor-pointer">
            <span class="h-4 w-4 icon icon-menu"></span>
        </label> 
        <%= image_tag "superskill_logo_teal.png",  alt: "Superskill", class: "h-3 w-16" %>
        <div class="flex gap-5">
            <span class="h-4 w-4 icon icon-notification"></span>
            <span class="h-4 w-4 icon icon-user-top"></span>
        </div>
    </div> 
    <div class="relative rounded-md shadow-sm w-full">
        <div class="pointer-events-none absolute inset-y-0 flex items-center pl-3">
            <span class="h-4 w-4 icon icon-search"></span>
        </div>
        <input type="text" name="price" id="price" class="input-search h-12 w-full" placeholder="Search courses"/>
    </div>
</nav>