<div class="flex items-center justify-between gap-4 bg-primary px-4 py-3 fixed top-16 right-4 left-4 md:top-24 md:right-20 md:left-auto">
    <p class="text-sm text-white">Learner role Invitation sent to <span class="text-white">Eloo Philip</span></p>
    <button type="button" class="flex items-center">          
        <span class="icon icon-close-white h-4 w-4"></span>
    </button>          
</div>
<div class="flex items-center justify-between gap-4 bg-danger px-4 py-3 fixed top-16 right-4 left-4 md:top-24 md:right-20 md:left-auto hidden">
    <p class="text-sm text-white">Learner role Invitation sent to <span class="text-white">Eloo Philip</span></p>
    <button type="button" class="flex items-center">          
        <span class="icon icon-close-white h-4 w-4"></span>
    </button>          
</div>
<div class="flex items-center justify-between gap-4 bg-gold px-4 py-3 fixed top-16 right-4 left-4 md:top-24 md:right-20 md:left-auto hidden">
    <p class="text-sm text-white">Learner role Invitation sent to <span class="text-white">Eloo Philip</span></p>
    <button type="button" class="flex items-center">          
        <span class="icon icon-close-white h-4 w-4"></span>
    </button>          
</div>