<div class="flex items-center justify-between gap-4 bg-gold px-4 py-3 fixed top-16 right-4 left-4 md:top-24 md:right-20 md:left-auto" data-controller="notice" data-notice-target="noticeBody">
    <p class="text-sm text-white"><%= message %></p>
    <button type="button" class="flex items-center" data-action="click->notice#closeNotice">
        <span class="icon icon-close icon-small"></span>
    </button>          
</div>