<div class="flex items-center justify-between gap-4 bg-danger px-4 py-3 rounded" data-controller="notice" data-notice-target="noticeBody">
  <p class="text-sm text-white"><%= message %></p>
  <button type="button" class="flex items-center" data-action="click->notice#closeNotice">
    <span class="icon icon-close-white icon-small"></span>
  </button>
</div>