<% button_content = capture do %>
  <button class="flex items-center gap-2 rounded px-4 py-2 border border-danger heading">
    <span class="text-sm text-danger"><%= label %></span>
  </button>
<% end %>
<%= local_assigns[:tooltip_text].present? ? render('shared/components/tooltip', tooltip_text: local_assigns[:tooltip_text]) { button_content } : button_content %>
