<button class="flex items-center gap-2 rounded border p-1 px-3 border-secondary header-font">
  <% if local_assigns[:icon_right] %>
    <span class="text-sm leading-6 text-secondary"><%= label %></span>
    <span class="icon <%= icon_name %> icon-small bg-secondary"></span>
  <% else %>
    <span class="icon <%= icon_name %> icon-small bg-secondary"></span>
    <span class="text-sm leading-6 text-secondary"><%= label %></span>
  <% end %>
</button>
