<div class="inline-flex items-center gap-1 rounded px-2 py-1 box-shadow-medium whitespace-nowrap">
  <span class="icon <%= icon_name %> icon-small bg-secondary"></span>
  <span class="text-xs text-secondary"><%= label %></span>
</div>