<button class="inline-flex items-center gap-2 rounded border px-4 py-2 border-primary heading">
  <span class="icon <%= icon_name %> bg-primary icon-small text-primary"></span>
  <span class="text-sm text-primary"><%= label %></span>
</button>