<span class="bg-slate-grey-light md:min-h-10 md:min-w-10 w-full h-full flex items-center justify-center rounded-full text-primary text-sm md:text-base box-shadow-small hover:text-primary-light">
  <%= letter %>
</span>
