<span class="bg-slate-grey-light inline-flex items-center justify-center rounded-full text-primary text-xs md:text-sm box-shadow-small hover:text-primary-light icon-small md:icon-large">
  <%= letter %>
</span>
