<div class="flex flex-col gap-4 mb-6">
   <div class="flex flex-col box-shadow-medium rounded max-w-md ">
      <div class="flex gap-4 items-center border-b border-line-colour-light p-4">
         <img class="h-12 w-12 rounded-full" src="assets/tiju.png" alt="Profile Picture">
         <div class="flex flex-col w-full">
            <div class="flex justify-between items-center">
               <span class="font-medium text-sm">Tiju Mathew</span>
               <div class="flex items-center bg-primary-light-50 gap-1 border border-primary rounded-sm p-1">
                  <span class="icon icon-complete h-2 w-2"></span>
                  <span class="text-primary text-[8px]">Verified</span>
               </div>
            </div>
            <span class="text-secondary text-xs">Owner</span>
         </div>
      </div>
      <div class="p-4 text-xs">
         <div class="flex items-center gap-2 mb-2">
            <span class="icon icon-at-sign"></span>
            <span class="">Tijum@gmail.com</span>
         </div>
         <div class="flex items-center gap-2">
            <span class="icon icon-phone"></span>
            <span class="">9867549812</span>
         </div>
      </div>
   </div>
   <div class="flex flex-col box-shadow-medium rounded max-w-md ">
      <div class="flex gap-4 items-center border-b border-line-colour-light p-4">
         <img class="h-12 w-12 rounded-full" src="assets/tiju.png" alt="Profile Picture">
         <div class="flex flex-col w-full">
            <div class="flex justify-between items-center">
               <span class="font-medium text-sm">Tiju Mathew</span>
            </div>
            <span class="text-secondary text-xs">Owner</span>
         </div>
      </div>
      <div class="p-4 text-xs">
         <div class="flex items-center gap-2 mb-2">
            <span class="icon icon-at-sign"></span>
            <span class="">Tijum@gmail.com</span>
         </div>
         <div class="flex items-center gap-2">
            <span class="icon icon-phone"></span>
            <span class="">9867549812</span>
         </div>
         <div class="flex justify-end p-1">
            <a class="inline-flex justify-center gap-2 bg-gold-light border-gold p-2">
            <span class="icon icon-assign-user h-[10px] w-[10px] items-center"></span>
            <span class="text-xs">Assign Course</span>
            </a>
         </div>
      </div>
   </div>
   <div class="flex flex-col box-shadow-medium rounded max-w-md ">
      <div class="flex gap-4 items-center border-b border-line-colour-light p-4">
         <img class="h-12 w-12 rounded-full" src="assets/tiju.png" alt="Profile Picture">
         <div class="flex flex-col w-full">
            <div class="flex justify-between items-center">
               <span class="font-medium text-sm">Tiju Mathew</span>
            </div>
            <span class="text-gray5 text-xs">Owner</span>
         </div>
      </div>
      <div class="p-4 text-xs">
         <div class="flex items-center gap-2 mb-2">
            <span class="icon icon-at-sign"></span>
            <span class="">Tijum@gmail.com</span>
         </div>
         <div class="flex items-center gap-2">
            <span class="icon icon-phone"></span>
            <span class="">9867549812</span>
         </div>
         <div class="flex justify-end p-1">
            <a class="inline-flex justify-center bg-primary-light-50 gap-1 border border-primary p-1">
            <span class="icon icon-re-invite h-[10px] w-[10px] items-center"></span>
            <span class="text-primary text-xs">Re-Invite</span>
            </a>
         </div>
      </div>
   </div>
   <div class="flex flex-col box-shadow-medium rounded max-w-md ">
      <div class="flex gap-4 items-center border-b border-line-colour-light p-4">
         <img class="h-12 w-12 rounded-full" src="assets/tiju.png" alt="Profile Picture">
         <div class="flex flex-col w-full">
            <div class="flex justify-between items-center">
               <span class="font-medium text-sm">Tiju Mathew</span>
               <div class="flex items-center bg-slate-grey-light gap-1 border border-slate-grey rounded-sm p-1">
                  <span class="icon icon-unverified h-2 w-2"></span>
                  <span class="text-letter-color-light text-[8px]">Unverified</span>
               </div>
            </div>
            <span class="text-gray5 text-xs">Owner</span>
         </div>
      </div>
      <div class="p-4 text-xs">
         <div class="flex items-center gap-2 mb-2">
            <span class="icon icon-at-sign"></span>
            <span class="">Tijum@gmail.com</span>
         </div>
         <div class="flex items-center gap-2">
            <span class="icon icon-phone"></span>
            <span class="">9867549812</span>
         </div>
      </div>
   </div>
   <div class="flex flex-col box-shadow-medium rounded max-w-md ">
      <div class="flex gap-4 items-center border-b border-line-colour-light p-4">
         <img class="h-12 w-12 rounded-full" src="assets/tiju.png" alt="Profile Picture">
         <div class="flex flex-col w-full">
            <div class="flex justify-between items-center">
               <span class="font-medium text-sm">Tiju Mathew</span>
               <div class="flex items-center bg-danger-light gap-1 border border-danger rounded p-1">
                  <span class="icon-red-circle h-2 w-2"></span>
                  <span class="text-danger text-[8px]">Deactivate</span>
               </div>
            </div>
            <span class="text-gray5 text-xs">Owner</span>
         </div>
      </div>
      <div class="p-4 text-xs">
         <div class="flex items-center gap-2 mb-2">
            <span class="icon icon-at-sign"></span>
            <span class="">Tijum@gmail.com</span>
         </div>
         <div class="flex items-center gap-2">
            <span class="icon icon-phone"></span>
            <span class="">9867549812</span>
         </div>
      </div>
   </div>
</div>