<div class="flex justify-between my-4">
  <h1>Top Leaders/Team Members</h1>
  <div class="flex justify-center gap-6">
    <div class="relative rounded-md shadow-sm">
    <div class="pointer-events-none absolute inset-y-0 flex items-center pl-3">
      <span class="icon icon-search icon-small"></span>
    </div>
    <input
      type="text"
      value="Search Team Members"
      name="price"
      id="price"
      class="input-search"
      placeholder="Search courses"
      />
  </div>
    <button id="" class="bg-secondary flex items-center gap-2 rounded px-4 py-2">
      <span class="icon icon-assign-user-white icon-small"></span>
      <span class="text-xs text-white">Assign course</span>
    </button>
    <% if policy(:invite).new? %>
      <%= link_to new_invite_path(team_id: @team.id), data: { turbo_frame: "add-user-modal" }, class: "bg-primary flex items-center gap-2 rounded px-4 py-2" do %>
        <span class="icon icon-plus-white icon-small"></span>
        <span class="text-xs text-white">Invite user</span>
      <% end %>
    <% end %>
  </div>
 
</div>

<%= turbo_frame_tag 'add-user-modal' %>

