<div class="flex flex-col gap-4 pt-6">
   <div class="flex justify-between items-center p-4 border border-line-colour-light rounded-lg box-shadow-small">
      <div class="flex items-center space-x-8">
         <%= image_tag "vivanta.png",  alt: "useImage", class: "h-2" %>
         <span class="text-basic font-medium">Vivanta Hotels & Resorts</span>
      </div>
      <div>
         <a href="">  <span class="icon icon-simple-arrow-right icon-small"></span>
         </a>
      </div>
   </div>
   <div class="flex justify-between items-center p-4 border border-line-colour-light rounded-lg box-shadow-small">
      <div class="flex items-center space-x-8">
         <%= image_tag "vivanta.png",  alt: "useImage", class: "h-2" %>
         <span class="text-basic font-medium">Vivanta Hotels & Resorts</span>
      </div>
      <div>
         <a href="">        
         <span class="icon icon-simple-arrow-right icon-small"></span>
         </a>
      </div>
   </div>
</div>