<div class="border-primary box-shadow-medium mt-6 flex justify-between gap-60 rounded border border-dashed p-8">
  <p class="w-[446px] text-sm">
    Welcome to TATA Hotels & Resorts Ready to take the next level? Add your team
    now and start collaborating seamlessly
  </p>
  <button id="addTeamBtn" class="border-primary inline-flex items-center gap-2 rounded border px-4 py-2">
    <span class="icon icon-plus-green h-4 w-4 items-center"></span>
    <span class="text-primary text-xs">Add Team</span>
  </button>
</div>
<%= render "shared/components/add_team" %>

