<div class="bg-white border-t border-line-colour-light mt-4">
   <div class="p-6">
      <h2 class="text-xl font-semibold">Enrolled Courses</h2>
   </div>
   <div class="flex flex-col gap-4 justify-center">
      <div class="px-4 py-4 border border-line-colour-light flex justify-between">
         <div class="flex items-center  space-x-2">
            <span class="icon icon-academy h-5 w-5"></span>
            <p class="font-medium">Courses Enrolled</p>
         </div>
         <p class="text-2xl font-bold text-primary mt-2">03</p>
      </div>
      <div class="px-4 py-4 border border-line-colour-light flex justify-between">
         <div class="flex items-center  space-x-2">
            <span class="icon icon-timer h-5 w-5"></span>
            <p class="font-medium">Time Spent</p>
         </div>
         <p class="text-2xl font-bold text-primary mt-2">4hrs</p>
      </div>
      <div class="px-4 py-4 border border-line-colour-light flex justify-between">
         <div class="flex items-center  space-x-2">
            <span class="icon icon-check-list h-5 w-5"></span>
            <p class="font-medium">Score</p>
         </div>
         <p class="text-2xl font-bold text-primary mt-2">03</p>
      </div>
   </div>
</div>