<% tooltip_position ||= "bottom" %>
<div class="relative group inline-block">
  <%= yield %>
  <span class="tooltip" data-tooltip-target="<%= tooltip_position %>">
    <%= tooltip_text %>
  </span>
</div>
