<nav class="px-8 header-nav navbar-box-shadow flex items-center justify-between w-full">
  <div>
    <div class="relative rounded-md shadow-sm">
      <div class="pointer-events-none absolute inset-y-0 flex items-center pl-3">
        <span class="h-4 w-4 icon icon-search"></span>
      </div>
      <input type="text" name="price" id="price" class="input-search" placeholder="Search courses"/>
    </div>
  </div>
  <div class="flex gap-6">
    <a href="#" class="inline-block hover:pointer">
      <span class="h-6 w-6 icon icon-notification"></span>
    </a>
    <a href="#" class="inline-block hover:pointer">
      <%= image_tag "india.png",  alt: "INT", class: "h-6 w-6 rounded-full flag-box-shadow" %>
    </a>
  </div>
</nav>