<%= button_to item.url,
  item.options.reverse_merge(
    method: :post,
    class: "px-4 py-2 hover:bg-primary-light-50 flex w-full #{item.extra_classes}"
  ) do %>
  <span class="text-sm font-medium"><%= item.label %></span>
<% end %>
