<div>
  <% if courses.empty? %>
    <div class="text-notice">No courses to select</div>
  <% else %>

    <ul id="course-list" class="flex flex-col gap-4 overflow-y-auto p-1 h-[700px]">
      <% courses.each do |course| %>
        <%= _course_select_list_item_component(course: course) %>
      <% end %>
    </ul>

    <%= _course_select_load_more(search_context: search_context, courses: courses) %>
  <% end %>
</div>